
.aboutus_aboutus {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.aboutus_aboutus .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1436.3999999999999px;
	height: 95px;
	background: rgba(255,178,178,1.00);
}
.aboutus_aboutus .Rectangle3 {
	position: absolute;
	left: 8.549999999999999px;
	top: 287.84999999999997px;
	width: 1436.3999999999999px;
	height: 47.5px;
	background: rgba(255,178,178,0.25);
}
.aboutus_aboutus .LOGO {
	position: absolute;
	left: 28.5px;
	top: 26.599999999999998px;
	width: 81.7px;
	height: 42.75px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 28.5px;
	font-weight: 900;
	line-height: 42.75px;
}
.aboutus_aboutus .NAV {
	position: absolute;
	left: 51.55257936507936%;
	top: 36.1px;
	transform: translate(-50%, 0);
	width: 778.05px;
	height: 22.799999999999997px;
}
.aboutus_aboutus .NAV .HOME {
	width: 5.738705738705739%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.aboutus_aboutus .NAV .NEWS {
	width: 5.616605616605617%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.aboutus_aboutus .NAV .HISTORY {
	width: 8.18070818070818%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.aboutus_aboutus .NAV .ABOUTUS {
	width: 9.645909645909647%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.aboutus_aboutus .NAV .CONTACT {
	width: 9.645909645909647%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.aboutus_aboutus .NAV .ONLINEOFFERING {
	width: 16.605616605616603%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.aboutus_aboutus .NAV .GALLERY {
	width: 8.058608058608058%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.aboutus_aboutus .ABOUTUS_1 {
	position: absolute;
	left: 47.531415343915334%;
	top: 192.85px;
	transform: translate(-50%, 0);
	width: 171.95px;
	height: 51.3px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 34.199999999999996px;
	font-weight: 700;
	line-height: 51.3px;
}
.aboutus_aboutus .ADMINISTRATION {
	position: absolute;
	left: 47.5%;
	top: 289.75px;
	transform: translate(-50%, 0);
	width: 254.6px;
	height: 45.599999999999994px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.aboutus_aboutus .Rectangle2 {
	position: absolute;
	left: 0px;
	top: 1934.1999999999998px;
	width: 1436.3999999999999px;
	height: 577.6px;
	background: rgba(34,34,34,1.00);
}
.aboutus_aboutus .LOGO_1 {
	position: absolute;
	left: 145.35px;
	top: 2187.85px;
	width: 133.95px;
	height: 71.25px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 47.5px;
	font-weight: 700;
	line-height: 71.25px;
}
.aboutus_aboutus .Addresslocation {
	position: absolute;
	left: 360.05px;
	top: 2146.0499999999997px;
	width: 95px;
	height: 45.599999999999994px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 22.799999999999997px;
}
.aboutus_aboutus ._123456789987654321 {
	position: absolute;
	left: 360.05px;
	top: 2252.45px;
	width: 85.5px;
	height: 45.599999999999994px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 22.799999999999997px;
}
.aboutus_aboutus .namegmailcom {
	position: absolute;
	left: 360.05px;
	top: 2358.85px;
	width: 171.95px;
	height: 22.799999999999997px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 22.799999999999997px;
}
.aboutus_aboutus .ContactUs {
	position: absolute;
	left: 360.05px;
	top: 2040.6px;
	width: 127.3px;
	height: 34.199999999999996px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.aboutus_aboutus .UsefulLinks {
	position: absolute;
	left: 718.1999999999999px;
	top: 2040.6px;
	width: 133px;
	height: 34.199999999999996px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.aboutus_aboutus .SocialMedia {
	position: absolute;
	left: 1037.3999999999999px;
	top: 2040.6px;
	width: 147.25px;
	height: 34.199999999999996px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.aboutus_aboutus .Support {
	position: absolute;
	left: 1037.3999999999999px;
	top: 2174.5499999999997px;
	width: 92.14999999999999px;
	height: 34.199999999999996px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.aboutus_aboutus .Address {
	position: absolute;
	left: 360.05px;
	top: 2114.7px;
	width: 71.25px;
	height: 25.65px;
	color: rgba(255,178,178,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.aboutus_aboutus .Phone {
	position: absolute;
	left: 360.05px;
	top: 2221.1px;
	width: 54.15px;
	height: 25.65px;
	color: rgba(255,178,178,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.aboutus_aboutus .Email {
	position: absolute;
	left: 360.05px;
	top: 2327.5px;
	width: 47.5px;
	height: 25.65px;
	color: rgba(255,178,178,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.aboutus_aboutus .HOME_1 {
	position: absolute;
	left: 718.1999999999999px;
	top: 2114.7px;
	width: 49.4px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.aboutus_aboutus .NEWS_1 {
	position: absolute;
	left: 718.1999999999999px;
	top: 2170.75px;
	width: 48.449999999999996px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.aboutus_aboutus .GALLERY_1 {
	position: absolute;
	left: 718.1999999999999px;
	top: 2226.7999999999997px;
	width: 69.35px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.aboutus_aboutus .Contact {
	position: absolute;
	left: 1037.3999999999999px;
	top: 2213.5px;
	width: 70.3px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.aboutus_aboutus .ABOUTUS_2 {
	position: absolute;
	left: 718.1999999999999px;
	top: 2282.85px;
	width: 82.64999999999999px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.aboutus_aboutus .Subtract {
	position: absolute;
	left: 1037.3999999999999px;
	top: 2110.5330810546875px;
	width: 34.178662109375px;
	height: 25.039318847656247px;
}
.aboutus_aboutus .Subtract_1 {
	position: absolute;
	left: 1220.3232421875px;
	top: 2111.1574462890626px;
	width: 28.024072265624998px;
	height: 24.1169189453125px;
}
.aboutus_aboutus .Subtract_2 {
	position: absolute;
	left: 1104.8277343749999px;
	top: 2107.4012817382813px;
	width: 16.232568359374998px;
	height: 31.299090576171874px;
}
.aboutus_aboutus .Subtract_3 {
	position: absolute;
	left: 1154.31123046875px;
	top: 2106.15px;
	width: 32.762011718749996px;
	height: 34.18353271484375px;
}
.aboutus_aboutus ._2023AllRightsReservedby {
	position: absolute;
	left: 47.5%;
	top: 2462.4px;
	transform: translate(-50%, 0);
	width: 224.2px;
	height: 22.799999999999997px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.aboutus_aboutus .LOGO_2 {
	position: absolute;
	left: 47.5%;
	top: 122.55px;
	transform: translate(-50%, 0);
	width: 81.7px;
	height: 42.75px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 28.5px;
	font-weight: 900;
	line-height: 42.75px;
}
.aboutus_aboutus .POSITION {
	position: absolute;
	left: 47.5%;
	top: 411.34999999999997px;
	transform: translate(-50%, 0);
	width: 104.5px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.aboutus_aboutus .POSITION_1 {
	position: absolute;
	left: 47.5%;
	top: 798px;
	transform: translate(-50%, 0);
	width: 104.5px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.aboutus_aboutus .POSITION_2 {
	position: absolute;
	left: 47.5%;
	top: 1181.8px;
	transform: translate(-50%, 0);
	width: 104.5px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.aboutus_aboutus .NAME {
	position: absolute;
	left: 47.5%;
	top: 702.05px;
	transform: translate(-50%, 0);
	width: 53.199999999999996px;
	height: 28.5px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 19px;
	font-weight: 400;
	line-height: 28.5px;
}
.aboutus_aboutus .NAME_1 {
	position: absolute;
	left: 57.55291005291005%;
	top: 1085.85px;
	transform: translate(-50%, 0);
	width: 53.199999999999996px;
	height: 28.5px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 19px;
	font-weight: 400;
	line-height: 28.5px;
}
.aboutus_aboutus .NAME_2 {
	position: absolute;
	left: 37.19576719576719%;
	top: 1483.8999999999999px;
	transform: translate(-50%, 0);
	width: 53.199999999999996px;
	height: 28.5px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 19px;
	font-weight: 400;
	line-height: 28.5px;
}
.aboutus_aboutus .NAME_3 {
	position: absolute;
	left: 77.53306878306879%;
	top: 1483.8999999999999px;
	transform: translate(-50%, 0);
	width: 53.199999999999996px;
	height: 28.5px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 19px;
	font-weight: 400;
	line-height: 28.5px;
}
.aboutus_aboutus .NAME_4 {
	position: absolute;
	left: 37.38425925925926%;
	top: 1085.85px;
	transform: translate(-50%, 0);
	width: 53.199999999999996px;
	height: 28.5px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 19px;
	font-weight: 400;
	line-height: 28.5px;
}
.aboutus_aboutus .NAME_5 {
	position: absolute;
	left: 17.027116402116402%;
	top: 1490.55px;
	transform: translate(-50%, 0);
	width: 53.199999999999996px;
	height: 28.5px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 19px;
	font-weight: 400;
	line-height: 28.5px;
}
.aboutus_aboutus .NAME_6 {
	position: absolute;
	left: 57.36441798941799%;
	top: 1483.8999999999999px;
	transform: translate(-50%, 0);
	width: 53.199999999999996px;
	height: 28.5px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 19px;
	font-weight: 400;
	line-height: 28.5px;
}
.aboutus_aboutus .Ellipse7 {
	position: absolute;
	left: 47.56283068783069%;
	top: 484.5px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 50%;
}
.aboutus_aboutus .Ellipse8 {
	position: absolute;
	left: 57.61574074074074%;
	top: 868.3px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 50%;
}
.aboutus_aboutus .Ellipse10 {
	position: absolute;
	left: 37.258597883597886%;
	top: 1266.35px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 50%;
}
.aboutus_aboutus .Ellipse12 {
	position: absolute;
	left: 77.59589947089947%;
	top: 1266.35px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 50%;
}
.aboutus_aboutus .Ellipse9 {
	position: absolute;
	left: 37.44708994708994%;
	top: 868.3px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 50%;
}
.aboutus_aboutus .Ellipse11 {
	position: absolute;
	left: 17.08994708994709%;
	top: 1266.35px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 50%;
}
.aboutus_aboutus .Ellipse13 {
	position: absolute;
	left: 57.427248677248684%;
	top: 1266.35px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 50%;
}
.aboutus_aboutus .map1 {
	position: absolute;
	left: 0px;
	top: 1653.9499999999998px;
	width: 1436.3999999999999px;
	height: 280.25px;
	object-fit: cover;
	overflow: hidden;
}
.aboutus_aboutus .Line1 {
	position: absolute;
	left: 47.185846560846564%;
	top: 754.3px;
	transform: translate(-50%, 0);
	width: 380px;
	height: 0px;
	border: 5px solid rgba(34.212497770786285,34.212497770786285,34.212497770786285,1);
}
.aboutus_aboutus .Line2 {
	position: absolute;
	left: 47.5%;
	top: 1137.1499999999999px;
	transform: translate(-50%, 0);
	width: 570px;
	height: 0px;
	border: 5px solid rgba(34.212497770786285,34.212497770786285,34.212497770786285,1);
}
.aboutus_aboutus .Line3 {
	position: absolute;
	left: 47.5%;
	top: 1558.9499999999998px;
	transform: translate(-50%, 0);
	width: 1140px;
	height: 0px;
	border: 5px solid rgba(34.212497770786285,34.212497770786285,34.212497770786285,1);
}
.aboutus_aboutus .PHOTO {
	position: absolute;
	left: 684.9499999999999px;
	top: 564.3px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.aboutus_aboutus .PHOTO_1 {
	position: absolute;
	left: 826.5px;
	top: 946.1999999999999px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.aboutus_aboutus .PHOTO_2 {
	position: absolute;
	left: 517.75px;
	top: 953.8px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.aboutus_aboutus .PHOTO_3 {
	position: absolute;
	left: 216.6px;
	top: 1344.25px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.aboutus_aboutus .PHOTO_4 {
	position: absolute;
	left: 518.6999999999999px;
	top: 1353.75px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.aboutus_aboutus .PHOTO_5 {
	position: absolute;
	left: 826.5px;
	top: 1349.95px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.aboutus_aboutus .PHOTO_6 {
	position: absolute;
	left: 1126.7px;
	top: 1353.75px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}