
.addevents_1_addevents {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(241,241,241,1.00);
}
.addevents_1_addevents .Rectangle532 {
	position: absolute;
	left: 0px;
	top: -0.95px;
	width: 242.25px;
	height: 1380.35px;
	background: rgba(255,255,255,1.00);
}
.addevents_1_addevents .Rectangle553 {
	position: absolute;
	left: 25.65px;
	top: 359.09999999999997px;
	width: 209px;
	height: 38px;
	background: rgba(36,36,36,1.00);
	border-radius: 9.5px;
}
.addevents_1_addevents .dashboard {
	position: absolute;
	left: 64.6px;
	top: 11.803030303030303%;
	transform: translate(0, -50%);
	width: 79.8px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.addevents_1_addevents .dash {
	position: absolute;
	left: 28.5px;
	top: 146.29999999999998px;
	width: 19px;
	height: 19px;
}
.addevents_1_addevents .dash .Fill1 {
	position: absolute;
	left: 10.96025390625px;
	top: 0px;
	width: 42.314453125%;
	height: 42.67242431640625%;
	mix-blend-mode: normal;
}
.addevents_1_addevents .dash .CombinedShape {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.addevents_1_addevents ._3User {
	position: absolute;
	left: 28.5px;
	top: 222.29999999999998px;
	width: 20.9px;
	height: 15.2px;
}
.addevents_1_addevents ._3User .Fill1_1 {
	position: absolute;
	left: 4.3584960937499995px;
	top: 10.012921142578124px;
	width: 57.83025568181818%;
	height: 34.125518798828125%;
}
.addevents_1_addevents ._3User .Fill3 {
	position: absolute;
	left: 6.4013671875px;
	top: 0px;
	width: 38.26349431818182%;
	height: 52.91900634765625%;
	mix-blend-mode: normal;
}
.addevents_1_addevents ._3User .Fill6 {
	position: absolute;
	left: 15.0701171875px;
	top: 0.6712448120117187px;
	width: 19.753196022727273%;
	height: 44.602394104003906%;
	mix-blend-mode: normal;
}
.addevents_1_addevents ._3User .Fill8 {
	position: absolute;
	left: 15.582226562499999px;
	top: 8.765669250488282px;
	width: 25.443892045454547%;
	height: 29.148483276367188%;
}
.addevents_1_addevents ._3User .Fill11 {
	position: absolute;
	left: 1.7033203124999998px;
	top: 0.6715057373046874px;
	width: 19.744318181818183%;
	height: 44.602394104003906%;
	mix-blend-mode: normal;
}
.addevents_1_addevents ._3User .Fill13 {
	position: absolute;
	left: 0px;
	top: 8.76613311767578px;
	width: 25.443892045454547%;
	height: 29.143905639648438%;
}
.addevents_1_addevents .Menu {
	position: absolute;
	left: 65.55px;
	top: 17.416666666666664%;
	transform: translate(0, -50%);
	width: 54.15px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.addevents_1_addevents .Shape {
	position: absolute;
	left: 199.5px;
	top: 224.2px;
	width: 0.4629629629629629%;
	height: 0.9090909090909091%;
}
.addevents_1_addevents .Document {
	position: absolute;
	left: 28.5px;
	top: 294.5px;
	width: 17.099999999999998px;
	height: 19px;
}
.addevents_1_addevents .Document .Path {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	mix-blend-mode: normal;
}
.addevents_1_addevents .Document .CombinedShape_1 {
	position: absolute;
	left: 4.000390625px;
	top: 4.417494201660156px;
	width: 52.72352430555556%;
	height: 53.33206176757812%;
}
.addevents_1_addevents .Menu_1 {
	position: absolute;
	left: 63.65px;
	top: 23.030303030303028%;
	transform: translate(0, -50%);
	width: 66.5px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.addevents_1_addevents .Shape_1 {
	position: absolute;
	left: 199.5px;
	top: 298.3px;
	width: 0.4629629629629629%;
	height: 0.9090909090909091%;
}
.addevents_1_addevents .Filter {
	position: absolute;
	left: 30.4px;
	top: 369.54999999999995px;
	width: 19px;
	height: 16.888882446289063px;
}
.addevents_1_addevents .Filter .Fill1_2 {
	position: absolute;
	left: 0px;
	top: 12.310049438476561px;
	width: 47.958984375%;
	height: 16.664892831761488%;
	mix-blend-mode: normal;
}
.addevents_1_addevents .Filter .Fill4 {
	position: absolute;
	left: 9.8896484375px;
	top: 1.8033996582031249px;
	width: 47.94921875%;
	height: 16.658713019833762%;
	mix-blend-mode: normal;
}
.addevents_1_addevents .Filter .Fill6_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 34.384765625%;
	height: 38.0149414119497%;
}
.addevents_1_addevents .Filter .Fill9 {
	position: absolute;
	left: 12.466894531249999px;
	top: 10.468583679199218px;
	width: 34.384765625%;
	height: 38.0149414119497%;
}
.addevents_1_addevents .report {
	position: absolute;
	left: 66.5px;
	top: 28.643939393939394%;
	transform: translate(0, -50%);
	width: 48.449999999999996px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.addevents_1_addevents .Shape_2 {
	position: absolute;
	left: 198.54999999999998px;
	top: 374.775px;
	width: 0.7936507936507936%;
	height: 0.5303030303030304%;
}
.addevents_1_addevents .Path_1 {
	position: absolute;
	left: 34.77890625px;
	top: 479.92116699218747px;
	width: 0.38184110449735453%;
	height: 0.42803215258049243%;
}
.addevents_1_addevents .Path_2 {
	position: absolute;
	left: 28.5px;
	top: 473.10011596679686px;
	width: 1.2566137566137565%;
	height: 1.5151515151515151%;
	mix-blend-mode: normal;
}
.addevents_1_addevents .Menu_2 {
	position: absolute;
	left: 64.125px;
	top: 36.560606060606055%;
	transform: translate(0, -50%);
	width: 59.849999999999994px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.addevents_1_addevents .Shape_3 {
	position: absolute;
	left: 199.5px;
	top: 476.9px;
	width: 0.4629629629629629%;
	height: 0.9090909090909091%;
}
.addevents_1_addevents .Rectangle533 {
	position: absolute;
	left: 0px;
	top: -0.95px;
	width: 1436.3999999999999px;
	height: 95px;
	background: rgba(255,255,255,1.00);
}
.addevents_1_addevents .LOGO {
	position: absolute;
	left: 4.1782407407407405%;
	top: 29.45px;
	transform: translate(-50%, 0);
	width: 65.55px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.addevents_1_addevents .IconlyBulkNotification {
	position: absolute;
	left: 1192.25px;
	top: 35.625px;
	width: 1.5873015873015872%;
	height: 1.8181818181818181%;
}
.addevents_1_addevents .IconlyBulkNotification .Notification {
	position: absolute;
	left: 3.3249999999999997px;
	top: 1.9px;
	width: 16.15px;
	height: 19px;
}
.addevents_1_addevents .IconlyBulkNotification .Notification .Fill1_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 79.96654510498047%;
}
.addevents_1_addevents .IconlyBulkNotification .Notification .Fill4_1 {
	position: absolute;
	left: 5.29365234375px;
	top: 16.290870666503906px;
	width: 34.260110294117645%;
	height: 14.258537292480469%;
	mix-blend-mode: normal;
}
.addevents_1_addevents .IconlyBulkMessage {
	position: absolute;
	left: 1230.25px;
	top: 35.625px;
	width: 1.5873015873015872%;
	height: 1.8181818181818181%;
}
.addevents_1_addevents .IconlyBulkMessage .Group {
	position: absolute;
	left: 1.9px;
	top: 2.849623107910156px;
	width: 19px;
	height: 17.10057258605957px;
}
.addevents_1_addevents .IconlyBulkMessage .Group .Fill1_4 {
	position: absolute;
	left: 0px;
	top: 5.5076038360595705px;
	width: 100%;
	height: 67.79286887417219%;
	mix-blend-mode: normal;
}
.addevents_1_addevents .IconlyBulkMessage .Group .Fill4_2 {
	position: absolute;
	left: 0.4787109375px;
	top: 0px;
	width: 95.37109375%;
	height: 57.33141192052981%;
}
.addevents_1_addevents .User {
	position: absolute;
	left: 1268.25px;
	top: 25.65px;
	width: 102.6px;
	height: 42.75px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.addevents_1_addevents .User .BearedGuy02min1 {
	position: relative;
	flex: none;
	margin-right: 15.2px;
	width: 42.75px;
	height: 42.75px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 28.5px;
}
.addevents_1_addevents .User .Frame270 {
	position: relative;
	flex: none;
	margin-right: 15.2px;
	width: 44.65px;
	height: 26.599999999999998px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.addevents_1_addevents .User .Frame270 .AustinRobertson {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 100%;
	height: 26.599999999999998px;
	color: rgba(35,45,66,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.addevents_1_addevents .Rectangle554 {
	position: absolute;
	left: 261.25px;
	top: 154.85px;
	width: 1146.6499999999999px;
	height: 1224.55px;
	background: rgba(255,255,255,1.00);
}
.addevents_1_addevents .Rectangle555 {
	position: absolute;
	left: 31.349999999999998px;
	top: 403.75px;
	width: 142.5px;
	height: 28.5px;
	background: rgba(53,53,53,1.00);
	border-radius: 9.5px;
}
.addevents_1_addevents .Menu_3 {
	position: absolute;
	left: 66.5px;
	top: 31.702651515151516%;
	transform: translate(0, -50%);
	width: 61.75px;
	height: 23.75px;
	color: rgba(139,139,139,1.00);
	font-family: Inter;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 23.275px;
}
.addevents_1_addevents .Menu_4 {
	position: absolute;
	left: 66.5px;
	top: 33.86174242424242%;
	transform: translate(0, -50%);
	width: 72.2px;
	height: 23.75px;
	color: rgba(139,139,139,1.00);
	font-family: Inter;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 23.275px;
}
.addevents_1_addevents .Rectangle53 {
	position: absolute;
	left: 302.09999999999997px;
	top: 169.1px;
	width: 285px;
	height: 451.25px;
	background: rgba(255,206,206,1.00);
	border-radius: 19px;
}
.addevents_1_addevents .Rectangle59 {
	position: absolute;
	left: 302.09999999999997px;
	top: 684px;
	width: 285px;
	height: 451.25px;
	background: rgba(255,206,206,1.00);
	border-radius: 19px;
}
.addevents_1_addevents .Rectangle54 {
	position: absolute;
	left: 682.1px;
	top: 169.1px;
	width: 285px;
	height: 451.25px;
	background: rgba(255,206,206,1.00);
	border-radius: 19px;
}
.addevents_1_addevents .Rectangle60 {
	position: absolute;
	left: 682.1px;
	top: 684px;
	width: 285px;
	height: 451.25px;
	background: rgba(255,206,206,1.00);
	border-radius: 19px;
}
.addevents_1_addevents .Rectangle55 {
	position: absolute;
	left: 1062.1px;
	top: 169.1px;
	width: 285px;
	height: 451.25px;
	background: rgba(255,206,206,1.00);
	border-radius: 19px;
}
.addevents_1_addevents .Rectangle61 {
	position: absolute;
	left: 1062.1px;
	top: 684px;
	width: 285px;
	height: 451.25px;
	background: rgba(255,206,206,1.00);
	border-radius: 19px;
}
.addevents_1_addevents .DDMMYYYY {
	position: absolute;
	left: 841.6999999999999px;
	top: 76.95px;
	width: 88.35px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 500;
	line-height: 19.95px;
}
.addevents_1_addevents .DDMMYYYY_1 {
	position: absolute;
	left: 780.9px;
	top: 692.55px;
	width: 88.35px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 500;
	line-height: 19.95px;
}
.addevents_1_addevents .Rectangle56 {
	position: absolute;
	left: 311.59999999999997px;
	top: 202.35px;
	width: 266px;
	height: 213.75px;
	background: rgba(255,255,255,1.00);
	border-radius: 19px;
}
.addevents_1_addevents .Rectangle62 {
	position: absolute;
	left: 311.59999999999997px;
	top: 717.25px;
	width: 266px;
	height: 213.75px;
	background: rgba(255,255,255,1.00);
	border-radius: 19px;
}
.addevents_1_addevents .Rectangle57 {
	position: absolute;
	left: 691.6px;
	top: 202.35px;
	width: 266px;
	height: 213.75px;
	background: rgba(255,255,255,1.00);
	border-radius: 19px;
}
.addevents_1_addevents .Rectangle63 {
	position: absolute;
	left: 691.6px;
	top: 717.25px;
	width: 266px;
	height: 213.75px;
	background: rgba(255,255,255,1.00);
	border-radius: 19px;
}
.addevents_1_addevents .Rectangle58 {
	position: absolute;
	left: 1071.6px;
	top: 202.35px;
	width: 266px;
	height: 213.75px;
	background: rgba(255,255,255,1.00);
	border-radius: 19px;
}
.addevents_1_addevents .Rectangle64 {
	position: absolute;
	left: 1071.6px;
	top: 717.25px;
	width: 266px;
	height: 213.75px;
	background: rgba(255,255,255,1.00);
	border-radius: 19px;
}
.addevents_1_addevents .PHOTO {
	position: absolute;
	left: 392.34999999999997px;
	top: 286.9px;
	width: 104.5px;
	height: 45.599999999999994px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.addevents_1_addevents .PHOTO_1 {
	position: absolute;
	left: 392.34999999999997px;
	top: 801.8px;
	width: 104.5px;
	height: 45.599999999999994px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.addevents_1_addevents .PHOTO_2 {
	position: absolute;
	left: 772.3499999999999px;
	top: 286.9px;
	width: 104.5px;
	height: 45.599999999999994px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.addevents_1_addevents .PHOTO_3 {
	position: absolute;
	left: 772.3499999999999px;
	top: 801.8px;
	width: 104.5px;
	height: 45.599999999999994px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.addevents_1_addevents .PHOTO_4 {
	position: absolute;
	left: 1152.35px;
	top: 286.9px;
	width: 104.5px;
	height: 45.599999999999994px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.addevents_1_addevents .PHOTO_5 {
	position: absolute;
	left: 1152.35px;
	top: 801.8px;
	width: 104.5px;
	height: 45.599999999999994px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.addevents_1_addevents .Heading {
	position: absolute;
	left: 395.2px;
	top: 420.84999999999997px;
	width: 97.85px;
	height: 34.199999999999996px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.addevents_1_addevents .Heading_1 {
	position: absolute;
	left: 395.2px;
	top: 935.75px;
	width: 97.85px;
	height: 34.199999999999996px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.addevents_1_addevents .Heading_2 {
	position: absolute;
	left: 772.3499999999999px;
	top: 420.84999999999997px;
	width: 97.85px;
	height: 34.199999999999996px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.addevents_1_addevents .Heading_3 {
	position: absolute;
	left: 772.3499999999999px;
	top: 935.75px;
	width: 97.85px;
	height: 34.199999999999996px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.addevents_1_addevents .Heading_4 {
	position: absolute;
	left: 1157.1px;
	top: 420.84999999999997px;
	width: 97.85px;
	height: 34.199999999999996px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.addevents_1_addevents .Heading_5 {
	position: absolute;
	left: 1157.1px;
	top: 935.75px;
	width: 97.85px;
	height: 34.199999999999996px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.addevents_1_addevents .LoremIpsumissimplydummytextoftheprintingandtypesettingindustryLoremIpsumhasbeentheindustrysstandarddummytext {
	position: absolute;
	left: 311.59999999999997px;
	top: 459.79999999999995px;
	width: 270.75px;
	height: 90.25px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.addevents_1_addevents .LoremIpsumissimplydummytextoftheprintingandtypesettingindustryLoremIpsumhasbeentheindustrysstandarddummytext_1 {
	position: absolute;
	left: 311.59999999999997px;
	top: 974.6999999999999px;
	width: 270.75px;
	height: 90.25px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.addevents_1_addevents .LoremIpsumissimplydummytextoftheprintingandtypesettingindustryLoremIpsumhasbeentheindustrysstandarddummytext_2 {
	position: absolute;
	left: 688.75px;
	top: 459.79999999999995px;
	width: 270.75px;
	height: 90.25px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.addevents_1_addevents .LoremIpsumissimplydummytextoftheprintingandtypesettingindustryLoremIpsumhasbeentheindustrysstandarddummytext_3 {
	position: absolute;
	left: 688.75px;
	top: 974.6999999999999px;
	width: 270.75px;
	height: 90.25px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.addevents_1_addevents .LoremIpsumissimplydummytextoftheprintingandtypesettingindustryLoremIpsumhasbeentheindustrysstandarddummytext_4 {
	position: absolute;
	left: 1073.5px;
	top: 459.79999999999995px;
	width: 270.75px;
	height: 90.25px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.addevents_1_addevents .LoremIpsumissimplydummytextoftheprintingandtypesettingindustryLoremIpsumhasbeentheindustrysstandarddummytext_5 {
	position: absolute;
	left: 1073.5px;
	top: 974.6999999999999px;
	width: 270.75px;
	height: 90.25px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.addevents_1_addevents .ReadMore {
	position: absolute;
	left: 399px;
	top: 581.4px;
	width: 92.14999999999999px;
	height: 25.65px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.addevents_1_addevents .ReadMore_1 {
	position: absolute;
	left: 399px;
	top: 1096.3px;
	width: 92.14999999999999px;
	height: 25.65px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.addevents_1_addevents .ReadMore_2 {
	position: absolute;
	left: 776.15px;
	top: 581.4px;
	width: 92.14999999999999px;
	height: 25.65px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.addevents_1_addevents .ReadMore_3 {
	position: absolute;
	left: 776.15px;
	top: 1096.3px;
	width: 92.14999999999999px;
	height: 25.65px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.addevents_1_addevents .ReadMore_4 {
	position: absolute;
	left: 1160.8999999999999px;
	top: 581.4px;
	width: 92.14999999999999px;
	height: 25.65px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.addevents_1_addevents .ReadMore_5 {
	position: absolute;
	left: 1160.8999999999999px;
	top: 1096.3px;
	width: 92.14999999999999px;
	height: 25.65px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.addevents_1_addevents .DDMMYYYY_2 {
	position: absolute;
	left: 461.7px;
	top: 76.95px;
	width: 88.35px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 500;
	line-height: 19.95px;
}
.addevents_1_addevents .DDMMYYYY_3 {
	position: absolute;
	left: 400.9px;
	top: 692.55px;
	width: 88.35px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 500;
	line-height: 19.95px;
}
.addevents_1_addevents .DDMMYYYY_4 {
	position: absolute;
	left: 841.6999999999999px;
	top: 76.95px;
	width: 88.35px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 500;
	line-height: 19.95px;
}
.addevents_1_addevents .DDMMYYYY_5 {
	position: absolute;
	left: 780.9px;
	top: 692.55px;
	width: 88.35px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 500;
	line-height: 19.95px;
}
.addevents_1_addevents .DDMMYYYY_6 {
	position: absolute;
	left: 1221.7px;
	top: 76.95px;
	width: 88.35px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 500;
	line-height: 19.95px;
}
.addevents_1_addevents .DDMMYYYY_7 {
	position: absolute;
	left: 1160.8999999999999px;
	top: 692.55px;
	width: 88.35px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 500;
	line-height: 19.95px;
}