
.adminlogin_adminlogin {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(251,251,251,1.00);
}
.adminlogin_adminlogin .LOGO {
	position: absolute;
	left: 47.43716931216931%;
	top: 119.69999999999999px;
	transform: translate(-50%, 0);
	width: 134.9px;
	height: 71.25px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 47.5px;
	font-weight: 900;
	line-height: 71.25px;
}
.adminlogin_adminlogin .Rectangle40 {
	position: absolute;
	left: 47.5%;
	top: 47.557715674362086%;
	transform: translate(-50%, -50%);
	width: 475px;
	height: 285px;
	background: rgba(255,255,255,1.00);
	border-radius: 28.5px;
}
.adminlogin_adminlogin .Group1 {
	position: absolute;
	left: 598.5px;
	top: 342px;
	width: 238.45px;
	height: 98.8px;
	border-radius: 4.75px;
}
.adminlogin_adminlogin .Group1 .Rectangle48 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 237.5px;
	height: 38px;
	border-radius: 4.75px;
	border: 1px solid rgba(175.5249997973442,175.5249997973442,175.5249997973442,1);
}
.adminlogin_adminlogin .Group1 .Rectangle49 {
	position: absolute;
	left: 0.95px;
	top: 60.8px;
	width: 237.5px;
	height: 38px;
	border-radius: 4.75px;
	border: 1px solid rgba(175.5249997973442,175.5249997973442,175.5249997973442,1);
}
.adminlogin_adminlogin .admin {
	position: absolute;
	left: 47.46858465608465%;
	top: 272.65px;
	transform: translate(-50%, 0);
	width: 76.95px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 600;
	line-height: 34.199999999999996px;
}
.adminlogin_adminlogin .Group {
	position: absolute;
	left: 610.85px;
	top: 353.4px;
	width: 1.3227513227513228%;
	height: 1.9441143420602978%;
}
.adminlogin_adminlogin .Group .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.adminlogin_adminlogin .Group .Vector_1 {
	position: absolute;
	left: 0.95px;
	top: 0.95px;
	width: 90%;
	height: 41.55124072555265%;
}
.adminlogin_adminlogin .Group_1 {
	position: absolute;
	left: 610.85px;
	top: 411.34999999999997px;
	width: 1.3227513227513228%;
	height: 2.700160456456941%;
}
.adminlogin_adminlogin .Group_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 8.444470214843749px;
	width: 100%;
	height: 59.99991760290367%;
}
.adminlogin_adminlogin .Group_1 .Vector_3 {
	position: absolute;
	left: 3.1654296874999996px;
	top: 0px;
	width: 66.669921875%;
	height: 39.99994506860245%;
}
.adminlogin_adminlogin .Rectangle99 {
	position: absolute;
	left: 47.46858465608465%;
	top: 458.84999999999997px;
	transform: translate(-50%, 0);
	width: 166.25px;
	height: 33.25px;
	background: rgba(255,178,178,1.00);
	border-radius: 28.5px;
}
.adminlogin_adminlogin .Login {
	position: absolute;
	left: 699.1999999999999px;
	top: 465.5px;
	width: 36.1px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 600;
	line-height: 19.95px;
}
.adminlogin_adminlogin .Username {
	position: absolute;
	left: 47.46858465608465%;
	top: 350.55px;
	transform: translate(-50%, 0);
	width: 69.35px;
	height: 19.95px;
	color: rgba(130,130,130,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.adminlogin_adminlogin .Passsword {
	position: absolute;
	left: 47.46858465608465%;
	top: 411.34999999999997px;
	transform: translate(-50%, 0);
	width: 71.25px;
	height: 19.95px;
	color: rgba(130,130,130,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}