
.alladmin_alladmin {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(241,241,241,1.00);
}
.alladmin_alladmin .Rectangle532 {
	position: absolute;
	left: 0px;
	top: -0.95px;
	width: 242.25px;
	height: 1089.6499999999999px;
	background: rgba(255,255,255,1.00);
}
.alladmin_alladmin .Rectangle553 {
	position: absolute;
	left: 19px;
	top: 210.89999999999998px;
	width: 209px;
	height: 38px;
	background: rgba(36,36,36,1.00);
	border-radius: 9.5px;
}
.alladmin_alladmin .Rectangle555 {
	position: absolute;
	left: 25.65px;
	top: 254.6px;
	width: 142.5px;
	height: 28.5px;
	background: rgba(53,53,53,1.00);
	border-radius: 9.5px;
}
.alladmin_alladmin .dashboard {
	position: absolute;
	left: 64.6px;
	top: 13.595113438045376%;
	transform: translate(0, -50%);
	width: 79.8px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .dash {
	position: absolute;
	left: 28.5px;
	top: 146.29999999999998px;
	width: 19px;
	height: 19px;
}
.alladmin_alladmin .dash .Fill1 {
	position: absolute;
	left: 10.96025390625px;
	top: 0px;
	width: 42.314453125%;
	height: 42.67242431640625%;
	mix-blend-mode: normal;
}
.alladmin_alladmin .dash .CombinedShape {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.alladmin_alladmin ._3User {
	position: absolute;
	left: 28.5px;
	top: 222.29999999999998px;
	width: 20.9px;
	height: 15.2px;
}
.alladmin_alladmin ._3User .Fill1_1 {
	position: absolute;
	left: 4.3584960937499995px;
	top: 10.012921142578124px;
	width: 57.83025568181818%;
	height: 34.125518798828125%;
}
.alladmin_alladmin ._3User .Fill3 {
	position: absolute;
	left: 6.4013671875px;
	top: 0px;
	width: 38.26349431818182%;
	height: 52.91900634765625%;
	mix-blend-mode: normal;
}
.alladmin_alladmin ._3User .Fill6 {
	position: absolute;
	left: 15.0701171875px;
	top: 0.6712448120117187px;
	width: 19.753196022727273%;
	height: 44.602394104003906%;
	mix-blend-mode: normal;
}
.alladmin_alladmin ._3User .Fill8 {
	position: absolute;
	left: 15.582226562499999px;
	top: 8.765669250488282px;
	width: 25.443892045454547%;
	height: 29.148483276367188%;
}
.alladmin_alladmin ._3User .Fill11 {
	position: absolute;
	left: 1.7033203124999998px;
	top: 0.6715057373046874px;
	width: 19.744318181818183%;
	height: 44.602394104003906%;
	mix-blend-mode: normal;
}
.alladmin_alladmin ._3User .Fill13 {
	position: absolute;
	left: 0px;
	top: 8.76613311767578px;
	width: 25.443892045454547%;
	height: 29.143905639648438%;
}
.alladmin_alladmin .Menu {
	position: absolute;
	left: 65.55px;
	top: 20.06108202443281%;
	transform: translate(0, -50%);
	width: 54.15px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Menu_1 {
	position: absolute;
	left: 65.55px;
	top: 23.501308900523558%;
	transform: translate(0, -50%);
	width: 66.5px;
	height: 23.75px;
	color: rgba(139,139,139,1.00);
	font-family: Inter;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 23.275px;
}
.alladmin_alladmin .Menu_2 {
	position: absolute;
	left: 65.55px;
	top: 27.314572425828967%;
	transform: translate(0, -50%);
	width: 76px;
	height: 23.75px;
	color: rgba(139,139,139,1.00);
	font-family: Inter;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 23.275px;
}
.alladmin_alladmin .Shape {
	position: absolute;
	left: 197.125px;
	top: 226.575px;
	width: 0.7936507936507936%;
	height: 0.6108202443280977%;
}
.alladmin_alladmin .Document {
	position: absolute;
	left: 28.5px;
	top: 349.59999999999997px;
	width: 17.099999999999998px;
	height: 19px;
}
.alladmin_alladmin .Document .Path {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	mix-blend-mode: normal;
}
.alladmin_alladmin .Document .CombinedShape_1 {
	position: absolute;
	left: 4.000390625px;
	top: 4.417494201660156px;
	width: 52.72352430555556%;
	height: 53.33206176757812%;
}
.alladmin_alladmin .Menu_3 {
	position: absolute;
	left: 63.65px;
	top: 31.335078534031414%;
	transform: translate(0, -50%);
	width: 66.5px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Shape_1 {
	position: absolute;
	left: 199.5px;
	top: 353.4px;
	width: 0.4629629629629629%;
	height: 1.0471204188481675%;
}
.alladmin_alladmin .Filter {
	position: absolute;
	left: 30.4px;
	top: 424.65px;
	width: 19px;
	height: 16.888882446289063px;
}
.alladmin_alladmin .Filter .Fill1_2 {
	position: absolute;
	left: 0px;
	top: 12.310049438476561px;
	width: 47.958984375%;
	height: 16.664892831761488%;
	mix-blend-mode: normal;
}
.alladmin_alladmin .Filter .Fill4 {
	position: absolute;
	left: 9.8896484375px;
	top: 1.8033996582031249px;
	width: 47.94921875%;
	height: 16.658713019833762%;
	mix-blend-mode: normal;
}
.alladmin_alladmin .Filter .Fill6_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 34.384765625%;
	height: 38.0149414119497%;
}
.alladmin_alladmin .Filter .Fill9 {
	position: absolute;
	left: 12.466894531249999px;
	top: 10.468583679199218px;
	width: 34.384765625%;
	height: 38.0149414119497%;
}
.alladmin_alladmin .report {
	position: absolute;
	left: 66.5px;
	top: 37.80104712041884%;
	transform: translate(0, -50%);
	width: 81.7px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Shape_2 {
	position: absolute;
	left: 200.92499999999998px;
	top: 427.5px;
	width: 0.4629629629629629%;
	height: 1.0471204188481675%;
}
.alladmin_alladmin .Path_1 {
	position: absolute;
	left: 34.77890625px;
	top: 504.62116699218745px;
	width: 0.38184110449735453%;
	height: 0.4930213275796248%;
}
.alladmin_alladmin .Path_2 {
	position: absolute;
	left: 28.5px;
	top: 497.80011596679685px;
	width: 1.2566137566137565%;
	height: 1.7452006980802792%;
	mix-blend-mode: normal;
}
.alladmin_alladmin .Menu_4 {
	position: absolute;
	left: 64.125px;
	top: 44.26701570680628%;
	transform: translate(0, -50%);
	width: 59.849999999999994px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Shape_3 {
	position: absolute;
	left: 199.5px;
	top: 501.59999999999997px;
	width: 0.4629629629629629%;
	height: 1.0471204188481675%;
}
.alladmin_alladmin .Rectangle533 {
	position: absolute;
	left: 0px;
	top: -0.95px;
	width: 1436.3999999999999px;
	height: 95px;
	background: rgba(255,255,255,1.00);
}
.alladmin_alladmin .LOGO {
	position: absolute;
	left: 4.1782407407407405%;
	top: 29.45px;
	transform: translate(-50%, 0);
	width: 65.55px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.alladmin_alladmin .IconlyBulkNotification {
	position: absolute;
	left: 1192.25px;
	top: 35.625px;
	width: 1.5873015873015872%;
	height: 2.094240837696335%;
}
.alladmin_alladmin .IconlyBulkNotification .Notification {
	position: absolute;
	left: 3.3249999999999997px;
	top: 1.9px;
	width: 16.15px;
	height: 19px;
}
.alladmin_alladmin .IconlyBulkNotification .Notification .Fill1_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 79.96654510498047%;
}
.alladmin_alladmin .IconlyBulkNotification .Notification .Fill4_1 {
	position: absolute;
	left: 5.29365234375px;
	top: 16.29087791442871px;
	width: 34.260110294117645%;
	height: 14.258537292480469%;
	mix-blend-mode: normal;
}
.alladmin_alladmin .IconlyBulkMessage {
	position: absolute;
	left: 1230.25px;
	top: 35.625px;
	width: 1.5873015873015872%;
	height: 2.094240837696335%;
}
.alladmin_alladmin .IconlyBulkMessage .Group {
	position: absolute;
	left: 1.9px;
	top: 2.849623107910156px;
	width: 19px;
	height: 17.10057258605957px;
}
.alladmin_alladmin .IconlyBulkMessage .Group .Fill1_4 {
	position: absolute;
	left: 0px;
	top: 5.5076038360595705px;
	width: 100%;
	height: 67.79286887417219%;
	mix-blend-mode: normal;
}
.alladmin_alladmin .IconlyBulkMessage .Group .Fill4_2 {
	position: absolute;
	left: 0.4787109375px;
	top: 0px;
	width: 95.37109375%;
	height: 57.33141192052981%;
}
.alladmin_alladmin .User {
	position: absolute;
	left: 1268.25px;
	top: 25.65px;
	width: 102.6px;
	height: 42.75px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.alladmin_alladmin .User .BearedGuy02min1 {
	position: relative;
	flex: none;
	margin-right: 15.2px;
	width: 42.75px;
	height: 42.75px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 28.5px;
}
.alladmin_alladmin .User .Frame270 {
	position: relative;
	flex: none;
	margin-right: 15.2px;
	width: 44.65px;
	height: 26.599999999999998px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.alladmin_alladmin .User .Frame270 .AustinRobertson {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 100%;
	height: 26.599999999999998px;
	color: rgba(35,45,66,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Rectangle539 {
	position: absolute;
	left: 261.25px;
	top: 116.85px;
	width: 1153.3px;
	height: 871.15px;
	background: rgba(255,255,255,1.00);
	border-radius: 19px;
}
.alladmin_alladmin .Admins {
	position: absolute;
	left: 315.4px;
	top: 143.45px;
	width: 58.9px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Rectangle540 {
	position: absolute;
	left: 287.84999999999997px;
	top: 254.6px;
	width: 190px;
	height: 190px;
	background: rgba(79,79,79,1.00);
	border-radius: 19px;
}
.alladmin_alladmin .Rectangle544 {
	position: absolute;
	left: 287.84999999999997px;
	top: 608px;
	width: 190px;
	height: 190px;
	background: rgba(79,79,79,1.00);
	border-radius: 19px;
}
.alladmin_alladmin .Rectangle541 {
	position: absolute;
	left: 601.35px;
	top: 252.7px;
	width: 190px;
	height: 190px;
	background: rgba(79,79,79,1.00);
	border-radius: 19px;
}
.alladmin_alladmin .Rectangle545 {
	position: absolute;
	left: 601.35px;
	top: 606.1px;
	width: 190px;
	height: 190px;
	background: rgba(79,79,79,1.00);
	border-radius: 19px;
}
.alladmin_alladmin .Rectangle542 {
	position: absolute;
	left: 899.65px;
	top: 252.7px;
	width: 190px;
	height: 190px;
	background: rgba(79,79,79,1.00);
	border-radius: 19px;
}
.alladmin_alladmin .Rectangle546 {
	position: absolute;
	left: 899.65px;
	top: 606.1px;
	width: 190px;
	height: 190px;
	background: rgba(79,79,79,1.00);
	border-radius: 19px;
}
.alladmin_alladmin .Rectangle543 {
	position: absolute;
	left: 1197.95px;
	top: 254.6px;
	width: 190px;
	height: 190px;
	background: rgba(79,79,79,1.00);
	border-radius: 19px;
}
.alladmin_alladmin .Rectangle547 {
	position: absolute;
	left: 1197.95px;
	top: 608px;
	width: 190px;
	height: 190px;
	background: rgba(79,79,79,1.00);
	border-radius: 19px;
}
.alladmin_alladmin .Photo {
	position: absolute;
	left: 360.05px;
	top: 336.3px;
	width: 44.65px;
	height: 26.599999999999998px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Photo_1 {
	position: absolute;
	left: 360.05px;
	top: 689.6999999999999px;
	width: 44.65px;
	height: 26.599999999999998px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .name {
	position: absolute;
	left: 358.15px;
	top: 459.79999999999995px;
	width: 45.599999999999994px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Position {
	position: absolute;
	left: 358.15px;
	top: 209px;
	width: 60.8px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .name_1 {
	position: absolute;
	left: 358.15px;
	top: 813.1999999999999px;
	width: 45.599999999999994px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Position_1 {
	position: absolute;
	left: 358.15px;
	top: 562.4px;
	width: 60.8px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Photo_2 {
	position: absolute;
	left: 673.55px;
	top: 334.4px;
	width: 44.65px;
	height: 26.599999999999998px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Photo_3 {
	position: absolute;
	left: 673.55px;
	top: 687.8px;
	width: 44.65px;
	height: 26.599999999999998px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .name_2 {
	position: absolute;
	left: 671.65px;
	top: 457.9px;
	width: 45.599999999999994px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Position_2 {
	position: absolute;
	left: 671.65px;
	top: 207.1px;
	width: 60.8px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .name_3 {
	position: absolute;
	left: 671.65px;
	top: 811.3px;
	width: 45.599999999999994px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Position_3 {
	position: absolute;
	left: 671.65px;
	top: 560.5px;
	width: 60.8px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Photo_4 {
	position: absolute;
	left: 971.8499999999999px;
	top: 334.4px;
	width: 44.65px;
	height: 26.599999999999998px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Photo_5 {
	position: absolute;
	left: 971.8499999999999px;
	top: 687.8px;
	width: 44.65px;
	height: 26.599999999999998px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .name_4 {
	position: absolute;
	left: 969.9499999999999px;
	top: 457.9px;
	width: 45.599999999999994px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Position_4 {
	position: absolute;
	left: 969.9499999999999px;
	top: 207.1px;
	width: 60.8px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .name_5 {
	position: absolute;
	left: 969.9499999999999px;
	top: 811.3px;
	width: 45.599999999999994px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Position_5 {
	position: absolute;
	left: 969.9499999999999px;
	top: 560.5px;
	width: 60.8px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Photo_6 {
	position: absolute;
	left: 1270.1499999999999px;
	top: 336.3px;
	width: 44.65px;
	height: 26.599999999999998px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Photo_7 {
	position: absolute;
	left: 1270.1499999999999px;
	top: 689.6999999999999px;
	width: 44.65px;
	height: 26.599999999999998px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .name_6 {
	position: absolute;
	left: 1268.25px;
	top: 459.79999999999995px;
	width: 45.599999999999994px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .namPositione {
	position: absolute;
	left: 1268.25px;
	top: 209px;
	width: 105.44999999999999px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .name_7 {
	position: absolute;
	left: 1268.25px;
	top: 813.1999999999999px;
	width: 45.599999999999994px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.alladmin_alladmin .Position_6 {
	position: absolute;
	left: 1268.25px;
	top: 562.4px;
	width: 60.8px;
	height: 26.599999999999998px;
	color: rgba(62,62,62,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}