
.bookdofferings_bookdofferings {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(241,241,241,1.00);
}
.bookdofferings_bookdofferings .Rectangle532 {
	position: absolute;
	left: 0px;
	top: -0.95px;
	width: 242.25px;
	height: 1089.6499999999999px;
	background: rgba(255,255,255,1.00);
}
.bookdofferings_bookdofferings .Rectangle553 {
	position: absolute;
	left: 19px;
	top: 285px;
	width: 209px;
	height: 38px;
	background: rgba(36,36,36,1.00);
	border-radius: 9.5px;
}
.bookdofferings_bookdofferings .Rectangle555 {
	position: absolute;
	left: 45.599999999999994px;
	top: 366.7px;
	width: 142.5px;
	height: 28.5px;
	background: rgba(53,53,53,1.00);
	border-radius: 9.5px;
}
.bookdofferings_bookdofferings .dashboard {
	position: absolute;
	left: 64.6px;
	top: 13.595113438045376%;
	transform: translate(0, -50%);
	width: 79.8px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .dash {
	position: absolute;
	left: 28.5px;
	top: 146.29999999999998px;
	width: 19px;
	height: 19px;
}
.bookdofferings_bookdofferings .dash .Fill1 {
	position: absolute;
	left: 10.96025390625px;
	top: 0px;
	width: 42.314453125%;
	height: 42.672119140625%;
	mix-blend-mode: normal;
}
.bookdofferings_bookdofferings .dash .CombinedShape {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.bookdofferings_bookdofferings ._3User {
	position: absolute;
	left: 28.5px;
	top: 222.29999999999998px;
	width: 20.9px;
	height: 15.2px;
}
.bookdofferings_bookdofferings ._3User .Fill1_1 {
	position: absolute;
	left: 4.3584960937499995px;
	top: 10.013037109375px;
	width: 57.83025568181818%;
	height: 34.124755859375%;
}
.bookdofferings_bookdofferings ._3User .Fill3 {
	position: absolute;
	left: 6.4013671875px;
	top: 0px;
	width: 38.26349431818182%;
	height: 52.91900634765625%;
	mix-blend-mode: normal;
}
.bookdofferings_bookdofferings ._3User .Fill6 {
	position: absolute;
	left: 15.0701171875px;
	top: 0.6712158203124999px;
	width: 19.753196022727273%;
	height: 44.60296630859375%;
	mix-blend-mode: normal;
}
.bookdofferings_bookdofferings ._3User .Fill8 {
	position: absolute;
	left: 15.582226562499999px;
	top: 8.765698242187499px;
	width: 25.443892045454547%;
	height: 29.14886474609375%;
}
.bookdofferings_bookdofferings ._3User .Fill11 {
	position: absolute;
	left: 1.7033203124999998px;
	top: 0.67144775390625px;
	width: 19.744318181818183%;
	height: 44.60296630859375%;
	mix-blend-mode: normal;
}
.bookdofferings_bookdofferings ._3User .Fill13 {
	position: absolute;
	left: 0px;
	top: 8.766162109375px;
	width: 25.443892045454547%;
	height: 29.144287109375%;
}
.bookdofferings_bookdofferings .Menu {
	position: absolute;
	left: 65.55px;
	top: 20.06108202443281%;
	transform: translate(0, -50%);
	width: 54.15px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Shape {
	position: absolute;
	left: 199.5px;
	top: 224.2px;
	width: 0.4629629629629629%;
	height: 1.0471204188481675%;
}
.bookdofferings_bookdofferings .Document {
	position: absolute;
	left: 28.5px;
	top: 294.5px;
	width: 17.099999999999998px;
	height: 19px;
}
.bookdofferings_bookdofferings .Document .Path {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	mix-blend-mode: normal;
}
.bookdofferings_bookdofferings .Document .CombinedShape_1 {
	position: absolute;
	left: 4.000390625px;
	top: 4.4174072265625px;
	width: 52.72352430555556%;
	height: 53.33251953125%;
}
.bookdofferings_bookdofferings .Menu_1 {
	position: absolute;
	left: 63.65px;
	top: 26.527050610820243%;
	transform: translate(0, -50%);
	width: 66.5px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Shape_1 {
	position: absolute;
	left: 197.125px;
	top: 300.675px;
	width: 0.7936507936507936%;
	height: 0.6108202443280977%;
}
.bookdofferings_bookdofferings .Filter {
	position: absolute;
	left: 30.4px;
	top: 427.5px;
	width: 19px;
	height: 16.888940429687498px;
}
.bookdofferings_bookdofferings .Filter .Fill1_2 {
	position: absolute;
	left: 0px;
	top: 12.310107421875px;
	width: 47.958984375%;
	height: 16.664835617567086%;
	mix-blend-mode: normal;
}
.bookdofferings_bookdofferings .Filter .Fill4 {
	position: absolute;
	left: 9.8896484375px;
	top: 1.803515625px;
	width: 47.94921875%;
	height: 16.65934247026834%;
	mix-blend-mode: normal;
}
.bookdofferings_bookdofferings .Filter .Fill6_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 34.384765625%;
	height: 38.015325880963495%;
}
.bookdofferings_bookdofferings .Filter .Fill9 {
	position: absolute;
	left: 12.466894531249999px;
	top: 10.4685546875px;
	width: 34.384765625%;
	height: 38.015325880963495%;
}
.bookdofferings_bookdofferings .report {
	position: absolute;
	left: 66.5px;
	top: 38.04973821989529%;
	transform: translate(0, -50%);
	width: 81.7px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Shape_2 {
	position: absolute;
	left: 200.92499999999998px;
	top: 430.34999999999997px;
	width: 0.4629629629629629%;
	height: 1.0471204188481675%;
}
.bookdofferings_bookdofferings .Path_1 {
	position: absolute;
	left: 34.77890625px;
	top: 507.4711669921875px;
	width: 0.38184110449735453%;
	height: 0.4930106757198953%;
}
.bookdofferings_bookdofferings .Path_2 {
	position: absolute;
	left: 28.5px;
	top: 500.65px;
	width: 1.2566137566137565%;
	height: 1.7452006980802792%;
	mix-blend-mode: normal;
}
.bookdofferings_bookdofferings .Menu_2 {
	position: absolute;
	left: 64.125px;
	top: 44.51570680628272%;
	transform: translate(0, -50%);
	width: 59.849999999999994px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Shape_3 {
	position: absolute;
	left: 199.5px;
	top: 504.45px;
	width: 0.4629629629629629%;
	height: 1.0471204188481675%;
}
.bookdofferings_bookdofferings .Rectangle533 {
	position: absolute;
	left: 0px;
	top: -0.95px;
	width: 1436.3999999999999px;
	height: 95px;
	background: rgba(255,255,255,1.00);
}
.bookdofferings_bookdofferings .LOGO {
	position: absolute;
	left: 4.1782407407407405%;
	top: 29.45px;
	transform: translate(-50%, 0);
	width: 65.55px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.bookdofferings_bookdofferings .IconlyBulkNotification {
	position: absolute;
	left: 1192.25px;
	top: 35.625px;
	width: 1.5873015873015872%;
	height: 2.094240837696335%;
}
.bookdofferings_bookdofferings .IconlyBulkNotification .Notification {
	position: absolute;
	left: 3.3249999999999997px;
	top: 1.9px;
	width: 16.15px;
	height: 19px;
}
.bookdofferings_bookdofferings .IconlyBulkNotification .Notification .Fill1_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 79.967041015625%;
}
.bookdofferings_bookdofferings .IconlyBulkNotification .Notification .Fill4_1 {
	position: absolute;
	left: 5.29365234375px;
	top: 16.29078369140625px;
	width: 34.260110294117645%;
	height: 14.259033203124998%;
	mix-blend-mode: normal;
}
.bookdofferings_bookdofferings .IconlyBulkMessage {
	position: absolute;
	left: 1230.25px;
	top: 35.625px;
	width: 1.5873015873015872%;
	height: 2.094240837696335%;
}
.bookdofferings_bookdofferings .IconlyBulkMessage .Group {
	position: absolute;
	left: 1.9px;
	top: 2.8495361328124997px;
	width: 19px;
	height: 17.1004638671875px;
}
.bookdofferings_bookdofferings .IconlyBulkMessage .Group .Fill1_4 {
	position: absolute;
	left: 0px;
	top: 5.5074951171875px;
	width: 100%;
	height: 67.793299877933%;
	mix-blend-mode: normal;
}
.bookdofferings_bookdofferings .IconlyBulkMessage .Group .Fill4_2 {
	position: absolute;
	left: 0.4787109375px;
	top: 0px;
	width: 95.37109375%;
	height: 57.33215787332158%;
}
.bookdofferings_bookdofferings .User {
	position: absolute;
	left: 1268.25px;
	top: 25.65px;
	width: 102.6px;
	height: 42.75px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.bookdofferings_bookdofferings .User .BearedGuy02min1 {
	position: relative;
	flex: none;
	margin-right: 15.2px;
	width: 42.75px;
	height: 42.75px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 28.5px;
}
.bookdofferings_bookdofferings .User .Frame270 {
	position: relative;
	flex: none;
	margin-right: 15.2px;
	width: 44.65px;
	height: 26.599999999999998px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.bookdofferings_bookdofferings .User .Frame270 .AustinRobertson {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 100%;
	height: 26.599999999999998px;
	color: rgba(35,45,66,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Menu_3 {
	position: absolute;
	left: 63.65px;
	top: 30.71335078534031%;
	transform: translate(0, -50%);
	width: 75.05px;
	height: 23.75px;
	color: rgba(139,139,139,1.00);
	font-family: Inter;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 23.275px;
}
.bookdofferings_bookdofferings .Menu_4 {
	position: absolute;
	left: 63.65px;
	top: 33.200261780104704%;
	transform: translate(0, -50%);
	width: 103.55px;
	height: 23.75px;
	color: rgba(139,139,139,1.00);
	font-family: Inter;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 23.275px;
}
.bookdofferings_bookdofferings .Rectangle554 {
	position: absolute;
	left: 261.25px;
	top: 154.85px;
	width: 1146.6499999999999px;
	height: 777.0999999999999px;
	background: rgba(255,255,255,1.00);
}
.bookdofferings_bookdofferings .No {
	position: absolute;
	left: 299.25px;
	top: 165.29999999999998px;
	width: 20.9px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Name {
	position: absolute;
	left: 405.65px;
	top: 165.29999999999998px;
	width: 42.75px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Name_1 {
	position: absolute;
	left: 406.59999999999997px;
	top: 220.39999999999998px;
	width: 42.75px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Name_2 {
	position: absolute;
	left: 406.59999999999997px;
	top: 266px;
	width: 42.75px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Name_3 {
	position: absolute;
	left: 406.59999999999997px;
	top: 311.59999999999997px;
	width: 42.75px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Name_4 {
	position: absolute;
	left: 406.59999999999997px;
	top: 357.2px;
	width: 42.75px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Email {
	position: absolute;
	left: 533.9px;
	top: 357.2px;
	width: 38.949999999999996px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Email_1 {
	position: absolute;
	left: 533.9px;
	top: 266px;
	width: 38.949999999999996px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Email_2 {
	position: absolute;
	left: 533.9px;
	top: 220.39999999999998px;
	width: 38.949999999999996px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Name_5 {
	position: absolute;
	left: 406.59999999999997px;
	top: 402.79999999999995px;
	width: 42.75px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Email_3 {
	position: absolute;
	left: 533.9px;
	top: 402.79999999999995px;
	width: 38.949999999999996px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Email_4 {
	position: absolute;
	left: 533.9px;
	top: 311.59999999999997px;
	width: 38.949999999999996px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Email_5 {
	position: absolute;
	left: 533.9px;
	top: 165.29999999999998px;
	width: 38.949999999999996px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .offering {
	position: absolute;
	left: 658.35px;
	top: 165.29999999999998px;
	width: 56.05px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .offering_1 {
	position: absolute;
	left: 658.35px;
	top: 165.29999999999998px;
	width: 56.05px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .offering_2 {
	position: absolute;
	left: 658.35px;
	top: 220.39999999999998px;
	width: 56.05px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .offering_3 {
	position: absolute;
	left: 657.4px;
	top: 266px;
	width: 56.05px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .offering_4 {
	position: absolute;
	left: 657.4px;
	top: 311.59999999999997px;
	width: 56.05px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .offering_5 {
	position: absolute;
	left: 657.4px;
	top: 357.2px;
	width: 56.05px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .offering_6 {
	position: absolute;
	left: 652.65px;
	top: 402.79999999999995px;
	width: 56.05px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Nos {
	position: absolute;
	left: 799.9px;
	top: 165.29999999999998px;
	width: 28.5px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._4 {
	position: absolute;
	left: 808.4499999999999px;
	top: 220.39999999999998px;
	width: 10.45px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._4_1 {
	position: absolute;
	left: 809.4px;
	top: 266px;
	width: 10.45px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._4_2 {
	position: absolute;
	left: 809.4px;
	top: 311.59999999999997px;
	width: 10.45px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._4_3 {
	position: absolute;
	left: 809.4px;
	top: 357.2px;
	width: 10.45px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._4_4 {
	position: absolute;
	left: 809.4px;
	top: 397.09999999999997px;
	width: 10.45px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Amount {
	position: absolute;
	left: 913.9px;
	top: 165.29999999999998px;
	width: 56.05px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Phone {
	position: absolute;
	left: 1055.45px;
	top: 165.29999999999998px;
	width: 45.599999999999994px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Date {
	position: absolute;
	left: 1186.55px;
	top: 165.29999999999998px;
	width: 34.199999999999996px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Payment {
	position: absolute;
	left: 1306.25px;
	top: 165.29999999999998px;
	width: 63.65px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Line51 {
	position: absolute;
	left: 261.25px;
	top: 202.825px;
	width: 1146.6499999999999px;
	height: 0px;
	border: 1px solid rgba(215.89999169111252,215.89999169111252,215.89999169111252,1);
}
.bookdofferings_bookdofferings ._1 {
	position: absolute;
	left: 304.95px;
	top: 220.39999999999998px;
	width: 7.6px;
	height: 26.599999999999998px;
	color: rgba(93,93,93,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._2 {
	position: absolute;
	left: 304px;
	top: 266px;
	width: 9.5px;
	height: 26.599999999999998px;
	color: rgba(93,93,93,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._3 {
	position: absolute;
	left: 304px;
	top: 311.59999999999997px;
	width: 10.45px;
	height: 26.599999999999998px;
	color: rgba(93,93,93,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._4_5 {
	position: absolute;
	left: 304px;
	top: 357.2px;
	width: 10.45px;
	height: 26.599999999999998px;
	color: rgba(93,93,93,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._5 {
	position: absolute;
	left: 304.95px;
	top: 402.79999999999995px;
	width: 9.5px;
	height: 26.599999999999998px;
	color: rgba(93,93,93,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._100 {
	position: absolute;
	left: 917.6999999999999px;
	top: 220.39999999999998px;
	width: 36.1px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._123456789 {
	position: absolute;
	left: 1055.45px;
	top: 220.39999999999998px;
	width: 82.64999999999999px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._123456789_1 {
	position: absolute;
	left: 1055.45px;
	top: 266px;
	width: 82.64999999999999px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._123456789_2 {
	position: absolute;
	left: 1055.45px;
	top: 311.59999999999997px;
	width: 82.64999999999999px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._123456789_3 {
	position: absolute;
	left: 1055.45px;
	top: 357.2px;
	width: 82.64999999999999px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._123456789_4 {
	position: absolute;
	left: 1054.5px;
	top: 402.79999999999995px;
	width: 82.64999999999999px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._100_1 {
	position: absolute;
	left: 917.6999999999999px;
	top: 266px;
	width: 36.1px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._100_2 {
	position: absolute;
	left: 917.6999999999999px;
	top: 311.59999999999997px;
	width: 36.1px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._100_3 {
	position: absolute;
	left: 917.6999999999999px;
	top: 357.2px;
	width: 36.1px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings ._100_4 {
	position: absolute;
	left: 917.6999999999999px;
	top: 397.09999999999997px;
	width: 36.1px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .DDMMYYYY {
	position: absolute;
	left: 1186.55px;
	top: 220.39999999999998px;
	width: 99.75px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .DDMMYYYY_1 {
	position: absolute;
	left: 1186.55px;
	top: 266px;
	width: 99.75px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .DDMMYYYY_2 {
	position: absolute;
	left: 1186.55px;
	top: 311.59999999999997px;
	width: 99.75px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .DDMMYYYY_3 {
	position: absolute;
	left: 1186.55px;
	top: 357.2px;
	width: 99.75px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .DDMMYYYY_4 {
	position: absolute;
	left: 1186.55px;
	top: 402.79999999999995px;
	width: 99.75px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Done {
	position: absolute;
	left: 1319.55px;
	top: 214.7px;
	width: 38px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Processing {
	position: absolute;
	left: 1319.55px;
	top: 266px;
	width: 79.8px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Faild {
	position: absolute;
	left: 1319.55px;
	top: 317.3px;
	width: 34.199999999999996px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Faild_1 {
	position: absolute;
	left: 1319.55px;
	top: 357.2px;
	width: 34.199999999999996px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_bookdofferings .Done_1 {
	position: absolute;
	left: 1319.55px;
	top: 402.79999999999995px;
	width: 38px;
	height: 26.599999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}