
.bookdofferings_1_bookdofferings {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(241,241,241,1.00);
}
.bookdofferings_1_bookdofferings .Rectangle532 {
	position: absolute;
	left: 0px;
	top: -0.95px;
	width: 242.25px;
	height: 1089.6499999999999px;
	background: rgba(255,255,255,1.00);
}
.bookdofferings_1_bookdofferings .Rectangle555 {
	position: absolute;
	left: 36.1px;
	top: 337.25px;
	width: 142.5px;
	height: 28.5px;
	background: rgba(53,53,53,1.00);
	border-radius: 9.5px;
}
.bookdofferings_1_bookdofferings .Rectangle553 {
	position: absolute;
	left: 19px;
	top: 285px;
	width: 209px;
	height: 38px;
	background: rgba(36,36,36,1.00);
	border-radius: 9.5px;
}
.bookdofferings_1_bookdofferings .dashboard {
	position: absolute;
	left: 64.6px;
	top: 13.595113438045376%;
	transform: translate(0, -50%);
	width: 79.8px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 26.599999999999998px;
}
.bookdofferings_1_bookdofferings .dash {
	position: absolute;
	left: 28.5px;
	top: 146.29999999999998px;
	width: 19px;
	height: 19px;
}
.bookdofferings_1_bookdofferings .dash .Fill1 {
	position: absolute;
	left: 10.96025390625px;
	top: 0px;
	width: 42.314453125%;
	height: 42.67242431640625%;
	mix-blend-mode: normal;
}
.bookdofferings_1_bookdofferings .dash .CombinedShape {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.bookdofferings_1_bookdofferings ._3User {
	position: absolute;
	left: 28.5px;
	top: 222.29999999999998px;
	width: 20.9px;
	height: 15.2px;
}
.bookdofferings_1_bookdofferings ._3User .Fill1_1 {
	position: absolute;
	left: 4.3584960937499995px;
	top: 10.012921142578124px;
	width: 57.83025568181818%;
	height: 34.125518798828125%;
}
.bookdofferings_1_bookdofferings ._3User .Fill3 {
	position: absolute;
	left: 6.4013671875px;
	top: 0px;
	width: 38.26349431818182%;
	height: 52.91900634765625%;
	mix-blend-mode: normal;
}
.bookdofferings_1_bookdofferings ._3User .Fill6 {
	position: absolute;
	left: 15.0701171875px;
	top: 0.6712448120117187px;
	width: 19.753196022727273%;
	height: 44.602394104003906%;
	mix-blend-mode: normal;
}
.bookdofferings_1_bookdofferings ._3User .Fill8 {
	position: absolute;
	left: 15.582226562499999px;
	top: 8.765669250488282px;
	width: 25.443892045454547%;
	height: 29.148483276367188%;
}
.bookdofferings_1_bookdofferings ._3User .Fill11 {
	position: absolute;
	left: 1.7033203124999998px;
	top: 0.6715057373046874px;
	width: 19.744318181818183%;
	height: 44.602394104003906%;
	mix-blend-mode: normal;
}
.bookdofferings_1_bookdofferings ._3User .Fill13 {
	position: absolute;
	left: 0px;
	top: 8.76613311767578px;
	width: 25.443892045454547%;
	height: 29.143905639648438%;
}
.bookdofferings_1_bookdofferings .Menu {
	position: absolute;
	left: 65.55px;
	top: 20.06108202443281%;
	transform: translate(0, -50%);
	width: 54.15px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_1_bookdofferings .Shape {
	position: absolute;
	left: 199.5px;
	top: 224.2px;
	width: 0.4629629629629629%;
	height: 1.0471204188481675%;
}
.bookdofferings_1_bookdofferings .Document {
	position: absolute;
	left: 28.5px;
	top: 294.5px;
	width: 17.099999999999998px;
	height: 19px;
}
.bookdofferings_1_bookdofferings .Document .Path {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	mix-blend-mode: normal;
}
.bookdofferings_1_bookdofferings .Document .CombinedShape_1 {
	position: absolute;
	left: 4.000390625px;
	top: 4.417494201660156px;
	width: 52.72352430555556%;
	height: 53.33206176757812%;
}
.bookdofferings_1_bookdofferings .Menu_1 {
	position: absolute;
	left: 63.65px;
	top: 26.527050610820243%;
	transform: translate(0, -50%);
	width: 66.5px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_1_bookdofferings .Shape_1 {
	position: absolute;
	left: 197.125px;
	top: 300.675px;
	width: 0.7936507936507936%;
	height: 0.6108202443280977%;
}
.bookdofferings_1_bookdofferings .Filter {
	position: absolute;
	left: 30.4px;
	top: 427.5px;
	width: 19px;
	height: 16.888882446289063px;
}
.bookdofferings_1_bookdofferings .Filter .Fill1_2 {
	position: absolute;
	left: 0px;
	top: 12.310049438476561px;
	width: 47.958984375%;
	height: 16.664892831761488%;
	mix-blend-mode: normal;
}
.bookdofferings_1_bookdofferings .Filter .Fill4 {
	position: absolute;
	left: 9.8896484375px;
	top: 1.8033996582031249px;
	width: 47.94921875%;
	height: 16.658713019833762%;
	mix-blend-mode: normal;
}
.bookdofferings_1_bookdofferings .Filter .Fill6_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 34.384765625%;
	height: 38.0149414119497%;
}
.bookdofferings_1_bookdofferings .Filter .Fill9 {
	position: absolute;
	left: 12.466894531249999px;
	top: 10.468583679199218px;
	width: 34.384765625%;
	height: 38.0149414119497%;
}
.bookdofferings_1_bookdofferings .report {
	position: absolute;
	left: 66.5px;
	top: 38.04973821989529%;
	transform: translate(0, -50%);
	width: 81.7px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_1_bookdofferings .Shape_2 {
	position: absolute;
	left: 200.92499999999998px;
	top: 430.34999999999997px;
	width: 0.4629629629629629%;
	height: 1.0471204188481675%;
}
.bookdofferings_1_bookdofferings .Path_1 {
	position: absolute;
	left: 34.77890625px;
	top: 507.471109008789px;
	width: 0.38184110449735453%;
	height: 0.4930213275796248%;
}
.bookdofferings_1_bookdofferings .Path_2 {
	position: absolute;
	left: 28.5px;
	top: 500.6501159667969px;
	width: 1.2566137566137565%;
	height: 1.7452006980802792%;
	mix-blend-mode: normal;
}
.bookdofferings_1_bookdofferings .Menu_2 {
	position: absolute;
	left: 64.125px;
	top: 44.51570680628272%;
	transform: translate(0, -50%);
	width: 59.849999999999994px;
	height: 26.599999999999998px;
	color: rgba(255,147,147,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_1_bookdofferings .Shape_3 {
	position: absolute;
	left: 199.5px;
	top: 504.45px;
	width: 0.4629629629629629%;
	height: 1.0471204188481675%;
}
.bookdofferings_1_bookdofferings .Rectangle533 {
	position: absolute;
	left: 0px;
	top: -0.95px;
	width: 1436.3999999999999px;
	height: 95px;
	background: rgba(255,255,255,1.00);
}
.bookdofferings_1_bookdofferings .LOGO {
	position: absolute;
	left: 4.1782407407407405%;
	top: 29.45px;
	transform: translate(-50%, 0);
	width: 65.55px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings .IconlyBulkNotification {
	position: absolute;
	left: 1192.25px;
	top: 35.625px;
	width: 1.5873015873015872%;
	height: 2.094240837696335%;
}
.bookdofferings_1_bookdofferings .IconlyBulkNotification .Notification {
	position: absolute;
	left: 3.3249999999999997px;
	top: 1.9px;
	width: 16.15px;
	height: 19px;
}
.bookdofferings_1_bookdofferings .IconlyBulkNotification .Notification .Fill1_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 79.96654510498047%;
}
.bookdofferings_1_bookdofferings .IconlyBulkNotification .Notification .Fill4_1 {
	position: absolute;
	left: 5.29365234375px;
	top: 16.29087791442871px;
	width: 34.260110294117645%;
	height: 14.258537292480469%;
	mix-blend-mode: normal;
}
.bookdofferings_1_bookdofferings .IconlyBulkMessage {
	position: absolute;
	left: 1230.25px;
	top: 35.625px;
	width: 1.5873015873015872%;
	height: 2.094240837696335%;
}
.bookdofferings_1_bookdofferings .IconlyBulkMessage .Group {
	position: absolute;
	left: 1.9px;
	top: 2.849623107910156px;
	width: 19px;
	height: 17.10057258605957px;
}
.bookdofferings_1_bookdofferings .IconlyBulkMessage .Group .Fill1_4 {
	position: absolute;
	left: 0px;
	top: 5.5076038360595705px;
	width: 100%;
	height: 67.79286887417219%;
	mix-blend-mode: normal;
}
.bookdofferings_1_bookdofferings .IconlyBulkMessage .Group .Fill4_2 {
	position: absolute;
	left: 0.4787109375px;
	top: 0px;
	width: 95.37109375%;
	height: 57.33141192052981%;
}
.bookdofferings_1_bookdofferings .User {
	position: absolute;
	left: 1268.25px;
	top: 25.65px;
	width: 102.6px;
	height: 42.75px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.bookdofferings_1_bookdofferings .User .BearedGuy02min1 {
	position: relative;
	flex: none;
	margin-right: 15.2px;
	width: 42.75px;
	height: 42.75px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 28.5px;
}
.bookdofferings_1_bookdofferings .User .Frame270 {
	position: relative;
	flex: none;
	margin-right: 15.2px;
	width: 44.65px;
	height: 26.599999999999998px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.bookdofferings_1_bookdofferings .User .Frame270 .AustinRobertson {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 100%;
	height: 26.599999999999998px;
	color: rgba(35,45,66,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 26.599999999999998px;
}
.bookdofferings_1_bookdofferings .Menu_3 {
	position: absolute;
	left: 63.65px;
	top: 30.71335078534031%;
	transform: translate(0, -50%);
	width: 75.05px;
	height: 23.75px;
	color: rgba(139,139,139,1.00);
	font-family: Inter;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 23.275px;
}
.bookdofferings_1_bookdofferings .Menu_4 {
	position: absolute;
	left: 63.65px;
	top: 33.200261780104704%;
	transform: translate(0, -50%);
	width: 103.55px;
	height: 23.75px;
	color: rgba(139,139,139,1.00);
	font-family: Inter;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 23.275px;
}
.bookdofferings_1_bookdofferings .Rectangle554 {
	position: absolute;
	left: 261.25px;
	top: 154.85px;
	width: 1146.6499999999999px;
	height: 777.0999999999999px;
	background: rgba(255,255,255,1.00);
}
.bookdofferings_1_bookdofferings .Rectangle21 {
	position: absolute;
	left: 290.7px;
	top: 191.89999999999998px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.bookdofferings_1_bookdofferings .Rectangle560 {
	position: absolute;
	left: 290.7px;
	top: 586.15px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.bookdofferings_1_bookdofferings .Rectangle556 {
	position: absolute;
	left: 718.1999999999999px;
	top: 191.89999999999998px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.bookdofferings_1_bookdofferings .Rectangle561 {
	position: absolute;
	left: 718.1999999999999px;
	top: 586.15px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.bookdofferings_1_bookdofferings .Rectangle558 {
	position: absolute;
	left: 1122.8999999999999px;
	top: 191.89999999999998px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.bookdofferings_1_bookdofferings .Itemname {
	position: absolute;
	left: 366.7px;
	top: 409.45px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings .Itemname_1 {
	position: absolute;
	left: 366.7px;
	top: 803.6999999999999px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings .Itemname_2 {
	position: absolute;
	left: 794.1999999999999px;
	top: 409.45px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings .Itemname_3 {
	position: absolute;
	left: 794.1999999999999px;
	top: 803.6999999999999px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings .Itemname_4 {
	position: absolute;
	left: 1198.8999999999999px;
	top: 409.45px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings .Rectangle8 {
	position: absolute;
	left: 28.462301587301585%;
	top: 472.15px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.bookdofferings_1_bookdofferings .Rectangle563 {
	position: absolute;
	left: 28.462301587301585%;
	top: 866.4px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.bookdofferings_1_bookdofferings .Rectangle557 {
	position: absolute;
	left: 56.73611111111111%;
	top: 472.15px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.bookdofferings_1_bookdofferings .Rectangle564 {
	position: absolute;
	left: 56.73611111111111%;
	top: 866.4px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.bookdofferings_1_bookdofferings .Rectangle559 {
	position: absolute;
	left: 83.50198412698411%;
	top: 472.15px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.bookdofferings_1_bookdofferings ._0000 {
	position: absolute;
	left: 374.29999999999995px;
	top: 478.79999999999995px;
	width: 74.1px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings ._00000 {
	position: absolute;
	left: 374.29999999999995px;
	top: 873.05px;
	width: 88.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings ._0000_1 {
	position: absolute;
	left: 825.55px;
	top: 478.79999999999995px;
	width: 74.1px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings ._0000_2 {
	position: absolute;
	left: 801.8px;
	top: 873.05px;
	width: 74.1px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings ._0000_3 {
	position: absolute;
	left: 1206.5px;
	top: 478.79999999999995px;
	width: 74.1px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings .PHOTO {
	position: absolute;
	left: 392.34999999999997px;
	top: 269.8px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings .PHOTO_1 {
	position: absolute;
	left: 392.34999999999997px;
	top: 664.05px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings .PHOTO_2 {
	position: absolute;
	left: 819.8499999999999px;
	top: 269.8px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings .PHOTO_3 {
	position: absolute;
	left: 819.8499999999999px;
	top: 664.05px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings .PHOTO_4 {
	position: absolute;
	left: 1224.55px;
	top: 269.8px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.bookdofferings_1_bookdofferings .Ellipse138 {
	position: absolute;
	left: 1153.3px;
	top: 604.1999999999999px;
	width: 188.1px;
	height: 188.1px;
	background: rgba(217,217,217,1.00);
	border-radius: 50%;
}
.bookdofferings_1_bookdofferings .Add {
	position: absolute;
	left: 1223.6px;
	top: 681.15px;
	width: 47.5px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}