
.home_home {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.home_home .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1436.3999999999999px;
	height: 95px;
	background: rgba(255,178,178,1.00);
}
.home_home .LOGO {
	position: absolute;
	left: 28.5px;
	top: 26.599999999999998px;
	width: 81.7px;
	height: 42.75px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 28.5px;
	font-weight: 900;
	line-height: 42.75px;
}
.home_home .NAV {
	position: absolute;
	left: 51.55257936507936%;
	top: 36.1px;
	transform: translate(-50%, 0);
	width: 778.05px;
	height: 22.799999999999997px;
}
.home_home .NAV .HOME {
	width: 5.738705738705739%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .NAV .NEWS {
	width: 5.616605616605617%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .NAV .HISTORY {
	width: 8.18070818070818%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .NAV .ABOUTUS {
	width: 9.645909645909647%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .NAV .CONTACT {
	width: 9.645909645909647%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .NAV .ONLINEOFFERING {
	width: 16.605616605616603%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .NAV .GALLERY {
	width: 8.058608058608058%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .pexelshuyphan2178696 {
	position: absolute;
	left: 0px;
	top: 95px;
	width: 1436.3999999999999px;
	height: 684px;
	background: rgba(196,196,196,1.00);
}
.home_home .Rectangle89 {
	position: absolute;
	left: 147.25px;
	top: 2155.5499999999997px;
	width: 1145.7px;
	height: 285px;
	background: rgba(244,244,244,1.00);
	border-radius: 19px;
}
.home_home .Ellipse1 {
	position: absolute;
	left: 675.4499999999999px;
	top: 747.65px;
	width: 14.25px;
	height: 14.25px;
	background: rgba(235,235,235,1.00);
	border-radius: 50%;
}
.home_home .Ellipse2 {
	position: absolute;
	left: 699.1999999999999px;
	top: 747.65px;
	width: 14.25px;
	height: 14.25px;
	background: rgba(235,235,235,0.50);
	border-radius: 50%;
}
.home_home .Ellipse3 {
	position: absolute;
	left: 722.9499999999999px;
	top: 747.65px;
	width: 14.25px;
	height: 14.25px;
	background: rgba(235,235,235,0.50);
	border-radius: 50%;
}
.home_home .Ellipse4 {
	position: absolute;
	left: 746.6999999999999px;
	top: 747.65px;
	width: 14.25px;
	height: 14.25px;
	background: rgba(235,235,235,0.50);
	border-radius: 50%;
}
.home_home .Ellipse5 {
	position: absolute;
	left: 1370.85px;
	top: 418px;
	width: 37.05px;
	height: 37.05px;
	background: rgba(15,15,15,0.75);
	border-radius: 50%;
}
.home_home .Ellipse6 {
	position: absolute;
	left: 28.5px;
	top: 418.95px;
	width: 37.05px;
	height: 37.05px;
	background: rgba(15,15,15,0.75);
	border-radius: 50%;
}
.home_home .Vector {
	position: absolute;
	left: 1385.5490234375px;
	top: 427.5px;
	width: 0.6215413411458333%;
	height: 0.4125369710185331%;
}
.home_home .Vector_1 {
	position: absolute;
	left: 1217.8999999999999px;
	top: 1372.75px;
	width: 1.3227513227513228%;
	height: 0.8779519723650023%;
}
.home_home .Vector_2 {
	position: absolute;
	left: 203.29999999999998px;
	top: 1372.75px;
	width: 1.3227513227513228%;
	height: 0.8779519723650023%;
}
.home_home .Vector_3 {
	position: absolute;
	left: 42.75px;
	top: 428.42289276123046px;
	width: 0.621533267712467%;
	height: 0.4125369710185331%;
}
.home_home .Welcomechurchnameplace {
	position: absolute;
	left: 145.35px;
	top: 299.25px;
	width: 361px;
	height: 205.2px;
	color: rgba(29,29,29,1.00);
	font-family: Poppins;
	font-size: 45.599999999999994px;
	font-weight: 700;
	line-height: 68.39999999999999px;
}
.home_home .PHOTOSLIDE {
	position: absolute;
	left: 562.4px;
	top: 570px;
	width: 311.59999999999997px;
	height: 57.949999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 47.5px;
	font-weight: 400;
	line-height: 57.48579578399658px;
}
.home_home .Rectangle71 {
	position: absolute;
	left: 0px;
	top: 779px;
	width: 1436.3999999999999px;
	height: 257.45px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle90 {
	position: absolute;
	left: 0px;
	top: 1758.4499999999998px;
	width: 1436.3999999999999px;
	height: 257.45px;
	background: rgba(255,206,206,1.00);
}
.home_home .WELCOME {
	position: absolute;
	left: 47.5%;
	top: 797.05px;
	transform: translate(-50%, 0);
	width: 150.1px;
	height: 45.599999999999994px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.home_home .UpcomingEvents {
	position: absolute;
	left: 47.531415343915334%;
	top: 1071.6px;
	transform: translate(-50%, 0);
	width: 266.95px;
	height: 45.599999999999994px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.home_home .NEWSUPDATES {
	position: absolute;
	left: 47.5%;
	top: 1767px;
	transform: translate(-50%, 0);
	width: 228px;
	height: 45.599999999999994px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.home_home .TherearemanyvariationsofpassagesofLoremIpsumavailablebutthemajorityhavesufferedalterationinsomeformbyinjectedhumourorrandomisedwordswhichdontlookevenslightlybelievableIfyouaregoingtouseapassageofLoremIpsumyouneedtobesurethereisntanythingembarrassinghiddeninthemiddleoftextAlltheLoremIpsumgeneratorsontheInternettendtorepeatpredefinedchunksasnecessarymakingthisthefirsttruegeneratorontheInternetItusesadictionaryofover200LatinwordscombinedwithahandfulofmodelsentencestructurestogenerateLoremIpsumwhichlooksreasonableThegeneratedLoremIpsumisthereforealwaysfreefromrepetitioninjectedhumourornoncharacteristicwordsetc {
	position: absolute;
	left: 47.5%;
	top: 863.55px;
	transform: translate(-50%, 0);
	width: 1145.7px;
	height: 118.75px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 500;
	line-height: 19.95px;
}
.home_home .Rectangle72 {
	position: absolute;
	left: 291.65px;
	top: 1249.25px;
	width: 190px;
	height: 285px;
	background: rgba(217,217,217,1.00);
	border-radius: 19px;
}
.home_home .Rectangle73 {
	position: absolute;
	left: 575.6999999999999px;
	top: 1201.75px;
	width: 285px;
	height: 380px;
	background: rgba(217,217,217,1.00);
	border-radius: 19px;
}
.home_home .Rectangle74 {
	position: absolute;
	left: 954.75px;
	top: 1249.25px;
	width: 190px;
	height: 285px;
	background: rgba(217,217,217,1.00);
	border-radius: 19px;
}
.home_home .poster {
	position: absolute;
	left: 669.75px;
	top: 1368.95px;
	width: 98.8px;
	height: 45.599999999999994px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.home_home .poster_1 {
	position: absolute;
	left: 1000.3499999999999px;
	top: 1372.75px;
	width: 98.8px;
	height: 45.599999999999994px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.home_home .poster_2 {
	position: absolute;
	left: 337.25px;
	top: 1372.75px;
	width: 98.8px;
	height: 45.599999999999994px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.home_home .ddmmyyyy {
	position: absolute;
	left: 666.9px;
	top: 1173.25px;
	width: 103.55px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .Heading {
	position: absolute;
	left: 47.59424603174603%;
	top: 1598.85px;
	transform: translate(-50%, 0);
	width: 97.85px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.home_home .Line4 {
	position: absolute;
	left: 47.478977183185556%;
	top: 1123.85px;
	transform: translate(-50%, 0);
	width: 143.76427001953124px;
	height: 0px;
	border: 3px solid rgba(255,206.12500101327896,206.12500101327896,1);
}
.home_home .Rectangle75 {
	position: absolute;
	left: 162.45px;
	top: 2183.1px;
	width: 142.5px;
	height: 28.5px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle82 {
	position: absolute;
	left: 162.45px;
	top: 2221.1px;
	width: 142.5px;
	height: 190px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle85 {
	position: absolute;
	left: 646.9499999999999px;
	top: 2218.25px;
	width: 142.5px;
	height: 190px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle83 {
	position: absolute;
	left: 323.95px;
	top: 2221.1px;
	width: 142.5px;
	height: 190px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle86 {
	position: absolute;
	left: 808.4499999999999px;
	top: 2218.25px;
	width: 142.5px;
	height: 190px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle84 {
	position: absolute;
	left: 485.45px;
	top: 2221.1px;
	width: 142.5px;
	height: 190px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle87 {
	position: absolute;
	left: 969.9499999999999px;
	top: 2218.25px;
	width: 142.5px;
	height: 190px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle88 {
	position: absolute;
	left: 1131.45px;
	top: 2218.25px;
	width: 142.5px;
	height: 190px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle77 {
	position: absolute;
	left: 485.45px;
	top: 2183.1px;
	width: 142.5px;
	height: 28.5px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle79 {
	position: absolute;
	left: 808.4499999999999px;
	top: 2183.1px;
	width: 142.5px;
	height: 28.5px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle76 {
	position: absolute;
	left: 323.95px;
	top: 2183.1px;
	width: 142.5px;
	height: 28.5px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle78 {
	position: absolute;
	left: 646.9499999999999px;
	top: 2183.1px;
	width: 142.5px;
	height: 28.5px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle80 {
	position: absolute;
	left: 969.9499999999999px;
	top: 2183.1px;
	width: 142.5px;
	height: 28.5px;
	background: rgba(255,206,206,1.00);
}
.home_home .Rectangle81 {
	position: absolute;
	left: 1131.45px;
	top: 2183.1px;
	width: 142.5px;
	height: 28.5px;
	background: rgba(255,206,206,1.00);
}
.home_home .SUNDAY {
	position: absolute;
	left: 203.29999999999998px;
	top: 2185.95px;
	width: 61.75px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .MONDAY {
	position: absolute;
	left: 361.95px;
	top: 2185.95px;
	width: 67.45px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .TUESDAY {
	position: absolute;
	left: 523.4499999999999px;
	top: 2185.95px;
	width: 67.45px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .WEDNESDAY {
	position: absolute;
	left: 671.65px;
	top: 2185.95px;
	width: 93.1px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .THURSDAY {
	position: absolute;
	left: 839.8px;
	top: 2185.95px;
	width: 79.8px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .FRIDAY {
	position: absolute;
	left: 1015.55px;
	top: 2185.95px;
	width: 52.25px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .SATURDAY {
	position: absolute;
	left: 1162.8px;
	top: 2185.95px;
	width: 79.8px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .Time {
	position: absolute;
	left: 217.54999999999998px;
	top: 2226.7999999999997px;
	width: 33.25px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home .Time_1 {
	position: absolute;
	left: 540.55px;
	top: 2226.7999999999997px;
	width: 33.25px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home .Time_2 {
	position: absolute;
	left: 379.04999999999995px;
	top: 2226.7999999999997px;
	width: 33.25px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home .Time_3 {
	position: absolute;
	left: 701.1px;
	top: 2223.95px;
	width: 33.25px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home .Time_4 {
	position: absolute;
	left: 862.5999999999999px;
	top: 2223.95px;
	width: 33.25px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home .Time_5 {
	position: absolute;
	left: 1024.1px;
	top: 2223.95px;
	width: 33.25px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home .Time_6 {
	position: absolute;
	left: 1185.6px;
	top: 2223.95px;
	width: 33.25px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM {
	position: absolute;
	left: 206.14999999999998px;
	top: 2258.15px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_1 {
	position: absolute;
	left: 367.65px;
	top: 2258.15px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_2 {
	position: absolute;
	left: 528.1999999999999px;
	top: 2258.15px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_3 {
	position: absolute;
	left: 689.6999999999999px;
	top: 2258.15px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_4 {
	position: absolute;
	left: 851.1999999999999px;
	top: 2258.15px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_5 {
	position: absolute;
	left: 1013.65px;
	top: 2258.15px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_6 {
	position: absolute;
	left: 1174.2px;
	top: 2258.15px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_7 {
	position: absolute;
	left: 206.14999999999998px;
	top: 2287.6px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_8 {
	position: absolute;
	left: 367.65px;
	top: 2287.6px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_9 {
	position: absolute;
	left: 528.1999999999999px;
	top: 2287.6px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_10 {
	position: absolute;
	left: 689.6999999999999px;
	top: 2287.6px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_11 {
	position: absolute;
	left: 851.1999999999999px;
	top: 2287.6px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_12 {
	position: absolute;
	left: 1013.65px;
	top: 2287.6px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_13 {
	position: absolute;
	left: 1174.2px;
	top: 2287.6px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_14 {
	position: absolute;
	left: 206.14999999999998px;
	top: 2317.0499999999997px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_15 {
	position: absolute;
	left: 367.65px;
	top: 2317.0499999999997px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_16 {
	position: absolute;
	left: 528.1999999999999px;
	top: 2317.0499999999997px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_17 {
	position: absolute;
	left: 689.6999999999999px;
	top: 2317.0499999999997px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_18 {
	position: absolute;
	left: 851.1999999999999px;
	top: 2317.0499999999997px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_19 {
	position: absolute;
	left: 1013.65px;
	top: 2317.0499999999997px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_20 {
	position: absolute;
	left: 1174.2px;
	top: 2317.0499999999997px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_21 {
	position: absolute;
	left: 207.1px;
	top: 2346.5px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_22 {
	position: absolute;
	left: 368.59999999999997px;
	top: 2346.5px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_23 {
	position: absolute;
	left: 529.15px;
	top: 2346.5px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_24 {
	position: absolute;
	left: 690.65px;
	top: 2346.5px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_25 {
	position: absolute;
	left: 852.15px;
	top: 2346.5px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_26 {
	position: absolute;
	left: 1014.5999999999999px;
	top: 2346.5px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_27 {
	position: absolute;
	left: 1175.1499999999999px;
	top: 2346.5px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_28 {
	position: absolute;
	left: 207.1px;
	top: 2375.95px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_29 {
	position: absolute;
	left: 368.59999999999997px;
	top: 2375.95px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_30 {
	position: absolute;
	left: 529.15px;
	top: 2375.95px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_31 {
	position: absolute;
	left: 690.65px;
	top: 2375.95px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_32 {
	position: absolute;
	left: 852.15px;
	top: 2375.95px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_33 {
	position: absolute;
	left: 1014.5999999999999px;
	top: 2375.95px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home ._0100PM_34 {
	position: absolute;
	left: 1175.1499999999999px;
	top: 2375.95px;
	width: 55.099999999999994px;
	height: 19.95px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 13.299999999999999px;
	font-weight: 400;
	line-height: 19.95px;
}
.home_home .HOLYMASSANDNOVENASCHEDULE {
	position: absolute;
	left: 48.03406084656085%;
	top: 2069.1px;
	transform: translate(-50%, 0);
	width: 396.15px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.home_home .Rectangle3 {
	position: absolute;
	left: 0px;
	top: 2062.45px;
	width: 1436.3999999999999px;
	height: 47.5px;
	background: rgba(255,178,178,0.25);
}
.home_home .Rectangle92 {
	position: absolute;
	left: -0.95px;
	top: 2491.85px;
	width: 1436.3999999999999px;
	height: 47.5px;
	background: rgba(255,178,178,0.25);
}
.home_home .Rectangle17 {
	position: absolute;
	left: 47.5%;
	top: 1672px;
	transform: translate(-50%, 0);
	width: 95px;
	height: 28.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.home_home .Rectangle94 {
	position: absolute;
	left: 47.5%;
	top: 1964.6px;
	transform: translate(-50%, 0);
	width: 95px;
	height: 28.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.home_home .viewAll {
	position: absolute;
	left: 47.531415343915334%;
	top: 1674.85px;
	transform: translate(-50%, 0);
	width: 57.949999999999996px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .viewAll_1 {
	position: absolute;
	left: 47.531415343915334%;
	top: 1967.4499999999998px;
	transform: translate(-50%, 0);
	width: 57.949999999999996px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .TherearemanyvariationsofpassagesofLoremIpsumavailablebutthemajorityhavesufferedalterationinsomeformbyinjectedhumourorrandomisedwordswhichdontlookevenslightlybelievableIfyouaregoingtouseapassageofLoremIpsumyouneedtobesurethereisntanythingembarrassinghiddeninthemiddleoftext {
	position: absolute;
	left: 145.35px;
	top: 1841.1px;
	width: 1145.7px;
	height: 93.1px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 19px;
	font-weight: 500;
	line-height: 28.5px;
}
.home_home .ADMINISTRATION {
	position: absolute;
	left: 47.531415343915334%;
	top: 2498.5px;
	transform: translate(-50%, 0);
	width: 190.95px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.home_home .Rectangle95 {
	position: absolute;
	left: 145.35px;
	top: 2595.4px;
	width: 328.7px;
	height: 328.7px;
	background: rgba(217,217,217,1.00);
	border-radius: 19px;
}
.home_home .Rectangle96 {
	position: absolute;
	left: 553.85px;
	top: 2595.4px;
	width: 328.7px;
	height: 328.7px;
	background: rgba(217,217,217,1.00);
	border-radius: 19px;
}
.home_home .Rectangle97 {
	position: absolute;
	left: 962.3499999999999px;
	top: 2595.4px;
	width: 328.7px;
	height: 328.7px;
	background: rgba(217,217,217,1.00);
	border-radius: 19px;
}
.home_home .NAME {
	position: absolute;
	left: 280.25px;
	top: 2892.75px;
	width: 43.699999999999996px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .NAME_1 {
	position: absolute;
	left: 695.4px;
	top: 2892.75px;
	width: 43.699999999999996px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .NAME_2 {
	position: absolute;
	left: 1090.6px;
	top: 2892.75px;
	width: 43.699999999999996px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .Rectangle98 {
	position: absolute;
	left: 0.95px;
	top: 3007.7px;
	width: 1436.3999999999999px;
	height: 238.45px;
	background: rgba(217,217,217,1.00);
}
.home_home .BIBLEWORDS {
	position: absolute;
	left: 47.5%;
	top: 3109.35px;
	transform: translate(-50%, 0);
	width: 153.9px;
	height: 36.1px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 23.75px;
	font-weight: 500;
	line-height: 35.625px;
}
.home_home .Rectangle2 {
	position: absolute;
	left: 0px;
	top: 3627.1px;
	width: 1436.3999999999999px;
	height: 577.6px;
	background: rgba(34,34,34,1.00);
}
.home_home .LOGO_1 {
	position: absolute;
	left: 146.29999999999998px;
	top: 3880.75px;
	width: 133.95px;
	height: 71.25px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 47.5px;
	font-weight: 700;
	line-height: 71.25px;
}
.home_home .LOGO_2 {
	position: absolute;
	left: 47.531415343915334%;
	top: 3034.2999999999997px;
	transform: translate(-50%, 0);
	width: 67.45px;
	height: 36.1px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 23.75px;
	font-weight: 700;
	line-height: 35.625px;
}
.home_home .Addresslocation {
	position: absolute;
	left: 361px;
	top: 3838.95px;
	width: 95px;
	height: 45.599999999999994px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 22.799999999999997px;
}
.home_home ._123456789987654321 {
	position: absolute;
	left: 361px;
	top: 3945.35px;
	width: 85.5px;
	height: 45.599999999999994px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 22.799999999999997px;
}
.home_home .namegmailcom {
	position: absolute;
	left: 361px;
	top: 4051.75px;
	width: 171.95px;
	height: 22.799999999999997px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 22.799999999999997px;
}
.home_home .ContactUs {
	position: absolute;
	left: 361px;
	top: 3733.5px;
	width: 127.3px;
	height: 34.199999999999996px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.home_home .UsefulLinks {
	position: absolute;
	left: 719.15px;
	top: 3733.5px;
	width: 133px;
	height: 34.199999999999996px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.home_home .SocialMedia {
	position: absolute;
	left: 1038.35px;
	top: 3733.5px;
	width: 147.25px;
	height: 34.199999999999996px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.home_home .Support {
	position: absolute;
	left: 1038.35px;
	top: 3867.45px;
	width: 92.14999999999999px;
	height: 34.199999999999996px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.home_home .Address {
	position: absolute;
	left: 361px;
	top: 3807.6px;
	width: 71.25px;
	height: 25.65px;
	color: rgba(255,178,178,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.home_home .Phone {
	position: absolute;
	left: 361px;
	top: 3914px;
	width: 54.15px;
	height: 25.65px;
	color: rgba(255,178,178,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.home_home .Email {
	position: absolute;
	left: 361px;
	top: 4020.3999999999996px;
	width: 47.5px;
	height: 25.65px;
	color: rgba(255,178,178,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.home_home .HOME_1 {
	position: absolute;
	left: 719.15px;
	top: 3807.6px;
	width: 49.4px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.home_home .NEWS_1 {
	position: absolute;
	left: 719.15px;
	top: 3863.6499999999996px;
	width: 48.449999999999996px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.home_home .GALLERY_1 {
	position: absolute;
	left: 719.15px;
	top: 3919.7px;
	width: 69.35px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.home_home .Contact {
	position: absolute;
	left: 1038.35px;
	top: 3906.3999999999996px;
	width: 70.3px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.home_home .ABOUTUS_1 {
	position: absolute;
	left: 719.15px;
	top: 3975.75px;
	width: 82.64999999999999px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.home_home .Subtract {
	position: absolute;
	left: 1038.35px;
	top: 3572.2467773437497px;
	width: 34.17843017578125px;
	height: 23.03494873046875px;
}
.home_home .Subtract_1 {
	position: absolute;
	left: 1221.2732421875px;
	top: 3572.8212768554686px;
	width: 28.024304199218747px;
	height: 22.18653564453125px;
}
.home_home .Subtract_2 {
	position: absolute;
	left: 1105.777734375px;
	top: 3569.365698242187px;
	width: 16.232452392578125px;
	height: 28.79385986328125px;
}
.home_home .Subtract_3 {
	position: absolute;
	left: 1155.26123046875px;
	top: 3568.214611816406px;
	width: 32.7624755859375px;
	height: 31.447412109374998px;
}
.home_home ._2023AllRightsReservedby {
	position: absolute;
	left: 47.56283068783069%;
	top: 4155.3px;
	transform: translate(-50%, 0);
	width: 224.2px;
	height: 22.799999999999997px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.home_home .map1 {
	position: absolute;
	left: -0.95px;
	top: 3346.85px;
	width: 1436.3999999999999px;
	height: 280.25px;
	object-fit: cover;
	overflow: hidden;
}
.home_home .Subtract_4 {
	position: absolute;
	left: 1007px;
	top: 3791.083081054687px;
	width: 34.17843017578125px;
	height: 25.039318847656247px;
}
.home_home .Subtract_5 {
	position: absolute;
	left: 1189.9232421875px;
	top: 3791.7074462890623px;
	width: 28.024304199218747px;
	height: 24.1169189453125px;
}
.home_home .Subtract_6 {
	position: absolute;
	left: 1074.427734375px;
	top: 3787.9515136718746px;
	width: 16.232452392578125px;
	height: 31.299206542968747px;
}
.home_home .Subtract_7 {
	position: absolute;
	left: 1123.9112304687499px;
	top: 3786.7px;
	width: 32.7624755859375px;
	height: 34.18353271484375px;
}