
.onlineofferings_onlineofferings {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.onlineofferings_onlineofferings .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1436.3999999999999px;
	height: 95px;
	background: rgba(255,178,178,1.00);
}
.onlineofferings_onlineofferings .LOGO {
	position: absolute;
	left: 28.5px;
	top: 26.599999999999998px;
	width: 81.7px;
	height: 42.75px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 28.5px;
	font-weight: 900;
	line-height: 42.75px;
}
.onlineofferings_onlineofferings .NAV {
	position: absolute;
	left: 51.55257936507936%;
	top: 36.1px;
	transform: translate(-50%, 0);
	width: 778.05px;
	height: 22.799999999999997px;
}
.onlineofferings_onlineofferings .NAV .HOME {
	width: 5.738705738705739%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.onlineofferings_onlineofferings .NAV .NEWS {
	width: 5.616605616605617%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.onlineofferings_onlineofferings .NAV .HISTORY {
	width: 8.18070818070818%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.onlineofferings_onlineofferings .NAV .ABOUTUS {
	width: 9.645909645909647%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.onlineofferings_onlineofferings .NAV .CONTACT {
	width: 9.645909645909647%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.onlineofferings_onlineofferings .NAV .ONLINEOFFERING {
	width: 16.605616605616603%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.onlineofferings_onlineofferings .NAV .GALLERY {
	width: 8.058608058608058%;
	height: 100%;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.onlineofferings_onlineofferings .Rectangle3 {
	position: absolute;
	left: 0.95px;
	top: 286.9px;
	width: 1436.3999999999999px;
	height: 47.5px;
	background: rgba(255,178,178,0.25);
}
.onlineofferings_onlineofferings .Rectangle32 {
	position: absolute;
	left: -28.5px;
	top: 1163.75px;
	width: 1436.3999999999999px;
	height: 47.5px;
	background: rgba(255,178,178,0.25);
}
.onlineofferings_onlineofferings .ONLINEOFFERINGS {
	position: absolute;
	left: 47.5%;
	top: 192.85px;
	transform: translate(-50%, 0);
	width: 319.2px;
	height: 51.3px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 34.199999999999996px;
	font-weight: 700;
	line-height: 51.3px;
}
.onlineofferings_onlineofferings .HOLYMASSOFFERINGS {
	position: absolute;
	left: 47.5%;
	top: 287.84999999999997px;
	transform: translate(-50%, 0);
	width: 340.09999999999997px;
	height: 45.599999999999994px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.onlineofferings_onlineofferings .OTHEROFFERINGSS {
	position: absolute;
	left: 46.08630952380952%;
	top: 1164.7px;
	transform: translate(-50%, 0);
	width: 285.95px;
	height: 45.599999999999994px;
	color: rgba(34,34,34,1.00);
	font-family: Poppins;
	font-size: 30.4px;
	font-weight: 500;
	line-height: 45.599999999999994px;
}
.onlineofferings_onlineofferings .Rectangle2 {
	position: absolute;
	left: 0px;
	top: 1934.1999999999998px;
	width: 1436.3999999999999px;
	height: 577.6px;
	background: rgba(34,34,34,1.00);
}
.onlineofferings_onlineofferings .LOGO_1 {
	position: absolute;
	left: 145.35px;
	top: 2187.85px;
	width: 133.95px;
	height: 71.25px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 47.5px;
	font-weight: 700;
	line-height: 71.25px;
}
.onlineofferings_onlineofferings .Addresslocation {
	position: absolute;
	left: 360.05px;
	top: 2146.0499999999997px;
	width: 95px;
	height: 45.599999999999994px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 22.799999999999997px;
}
.onlineofferings_onlineofferings ._123456789987654321 {
	position: absolute;
	left: 360.05px;
	top: 2252.45px;
	width: 85.5px;
	height: 45.599999999999994px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 22.799999999999997px;
}
.onlineofferings_onlineofferings .namegmailcom {
	position: absolute;
	left: 360.05px;
	top: 2358.85px;
	width: 171.95px;
	height: 22.799999999999997px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 22.799999999999997px;
}
.onlineofferings_onlineofferings .ContactUs {
	position: absolute;
	left: 360.05px;
	top: 2040.6px;
	width: 127.3px;
	height: 34.199999999999996px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .UsefulLinks {
	position: absolute;
	left: 718.1999999999999px;
	top: 2040.6px;
	width: 133px;
	height: 34.199999999999996px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .SocialMedia {
	position: absolute;
	left: 1037.3999999999999px;
	top: 2040.6px;
	width: 147.25px;
	height: 34.199999999999996px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .Support {
	position: absolute;
	left: 1037.3999999999999px;
	top: 2174.5499999999997px;
	width: 92.14999999999999px;
	height: 34.199999999999996px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .Address {
	position: absolute;
	left: 360.05px;
	top: 2114.7px;
	width: 71.25px;
	height: 25.65px;
	color: rgba(255,178,178,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.onlineofferings_onlineofferings .Phone {
	position: absolute;
	left: 360.05px;
	top: 2221.1px;
	width: 54.15px;
	height: 25.65px;
	color: rgba(255,178,178,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.onlineofferings_onlineofferings .Email {
	position: absolute;
	left: 360.05px;
	top: 2327.5px;
	width: 47.5px;
	height: 25.65px;
	color: rgba(255,178,178,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 500;
	line-height: 25.65px;
}
.onlineofferings_onlineofferings .HOME_1 {
	position: absolute;
	left: 718.1999999999999px;
	top: 2114.7px;
	width: 49.4px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.onlineofferings_onlineofferings .NEWS_1 {
	position: absolute;
	left: 718.1999999999999px;
	top: 2170.75px;
	width: 48.449999999999996px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.onlineofferings_onlineofferings .GALLERY_1 {
	position: absolute;
	left: 718.1999999999999px;
	top: 2226.7999999999997px;
	width: 69.35px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.onlineofferings_onlineofferings .Contact {
	position: absolute;
	left: 1037.3999999999999px;
	top: 2213.5px;
	width: 70.3px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.onlineofferings_onlineofferings .ABOUTUS_1 {
	position: absolute;
	left: 718.1999999999999px;
	top: 2282.85px;
	width: 82.64999999999999px;
	height: 25.65px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 25.65px;
}
.onlineofferings_onlineofferings .Subtract {
	position: absolute;
	left: 1037.3999999999999px;
	top: 2110.5330810546875px;
	width: 34.178662109375px;
	height: 25.039318847656247px;
}
.onlineofferings_onlineofferings .Subtract_1 {
	position: absolute;
	left: 1220.3232421875px;
	top: 2111.1574462890626px;
	width: 28.024072265624998px;
	height: 24.1169189453125px;
}
.onlineofferings_onlineofferings .Subtract_2 {
	position: absolute;
	left: 1104.8277343749999px;
	top: 2107.4012817382813px;
	width: 16.232568359374998px;
	height: 31.299090576171874px;
}
.onlineofferings_onlineofferings .Subtract_3 {
	position: absolute;
	left: 1154.31123046875px;
	top: 2106.15px;
	width: 32.762011718749996px;
	height: 34.18353271484375px;
}
.onlineofferings_onlineofferings ._2023AllRightsReservedby {
	position: absolute;
	left: 47.5%;
	top: 2462.4px;
	transform: translate(-50%, 0);
	width: 224.2px;
	height: 22.799999999999997px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.onlineofferings_onlineofferings .LOGO_2 {
	position: absolute;
	left: 47.5%;
	top: 122.55px;
	transform: translate(-50%, 0);
	width: 81.7px;
	height: 42.75px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 28.5px;
	font-weight: 900;
	line-height: 42.75px;
}
.onlineofferings_onlineofferings .Rectangle21 {
	position: absolute;
	left: 147.25px;
	top: 377.15px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle22 {
	position: absolute;
	left: 575.6999999999999px;
	top: 377.15px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle23 {
	position: absolute;
	left: 1004.15px;
	top: 377.15px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle24 {
	position: absolute;
	left: 148.2px;
	top: 770.4499999999999px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle33 {
	position: absolute;
	left: 145.35px;
	top: 1254px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle25 {
	position: absolute;
	left: 576.65px;
	top: 770.4499999999999px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle34 {
	position: absolute;
	left: 573.8px;
	top: 1254px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle26 {
	position: absolute;
	left: 1005.0999999999999px;
	top: 770.4499999999999px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle35 {
	position: absolute;
	left: 1002.25px;
	top: 1254px;
	width: 285px;
	height: 190px;
	background: rgba(217,217,217,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Itemname {
	position: absolute;
	left: 223.25px;
	top: 580.4499999999999px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .Itemname_1 {
	position: absolute;
	left: 219.45px;
	top: 973.75px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .Itemname_2 {
	position: absolute;
	left: 218.5px;
	top: 1457.3px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .Itemname_3 {
	position: absolute;
	left: 659.3px;
	top: 580.4499999999999px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .Itemname_4 {
	position: absolute;
	left: 647.9px;
	top: 973.75px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .Itemname_5 {
	position: absolute;
	left: 646.9499999999999px;
	top: 1457.3px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .Itemname_6 {
	position: absolute;
	left: 1086.8px;
	top: 580.4499999999999px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .Itemname_7 {
	position: absolute;
	left: 1076.35px;
	top: 973.75px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .Itemname_8 {
	position: absolute;
	left: 1075.3999999999999px;
	top: 1457.3px;
	width: 126.35px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .Rectangle8 {
	position: absolute;
	left: 18.974867724867725%;
	top: 657.4px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle29 {
	position: absolute;
	left: 18.72354497354497%;
	top: 1050.7px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle36 {
	position: absolute;
	left: 18.660714285714285%;
	top: 1534.25px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle27 {
	position: absolute;
	left: 47.814153439153436%;
	top: 657.4px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle30 {
	position: absolute;
	left: 47.06018518518518%;
	top: 1050.7px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle37 {
	position: absolute;
	left: 46.99735449735449%;
	top: 1534.25px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle28 {
	position: absolute;
	left: 76.08796296296296%;
	top: 657.4px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle31 {
	position: absolute;
	left: 75.39682539682539%;
	top: 1050.7px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .Rectangle38 {
	position: absolute;
	left: 75.33399470899471%;
	top: 1534.25px;
	transform: translate(-50%, 0);
	width: 190px;
	height: 47.5px;
	background: rgba(255,147,147,1.00);
	border-radius: 28.5px;
}
.onlineofferings_onlineofferings .OfferNow {
	position: absolute;
	left: 230.85px;
	top: 664.05px;
	width: 112.1px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .OfferNow_1 {
	position: absolute;
	left: 227.04999999999998px;
	top: 1057.35px;
	width: 112.1px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .OfferNow_2 {
	position: absolute;
	left: 226.1px;
	top: 1540.8999999999999px;
	width: 112.1px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .OfferNow_3 {
	position: absolute;
	left: 666.9px;
	top: 664.05px;
	width: 112.1px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .OfferNow_4 {
	position: absolute;
	left: 655.5px;
	top: 1057.35px;
	width: 112.1px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .OfferNow_5 {
	position: absolute;
	left: 654.55px;
	top: 1540.8999999999999px;
	width: 112.1px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .OfferNow_6 {
	position: absolute;
	left: 1094.3999999999999px;
	top: 664.05px;
	width: 112.1px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .OfferNow_7 {
	position: absolute;
	left: 1083.95px;
	top: 1057.35px;
	width: 112.1px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .OfferNow_8 {
	position: absolute;
	left: 1083px;
	top: 1540.8999999999999px;
	width: 112.1px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .PHOTO {
	position: absolute;
	left: 248.89999999999998px;
	top: 455.04999999999995px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .PHOTO_1 {
	position: absolute;
	left: 248.89999999999998px;
	top: 847.4px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .PHOTO_2 {
	position: absolute;
	left: 247px;
	top: 1331.8999999999999px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .PHOTO_3 {
	position: absolute;
	left: 677.35px;
	top: 455.04999999999995px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .PHOTO_4 {
	position: absolute;
	left: 677.35px;
	top: 847.4px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .PHOTO_5 {
	position: absolute;
	left: 675.4499999999999px;
	top: 1331.8999999999999px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .PHOTO_6 {
	position: absolute;
	left: 1105.8px;
	top: 455.04999999999995px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .PHOTO_7 {
	position: absolute;
	left: 1105.8px;
	top: 847.4px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings .PHOTO_8 {
	position: absolute;
	left: 1103.8999999999999px;
	top: 1331.8999999999999px;
	width: 82.64999999999999px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 900;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings ._100 {
	position: absolute;
	left: 256.5px;
	top: 614.65px;
	width: 52.25px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings ._100_1 {
	position: absolute;
	left: 256.5px;
	top: 1007.9499999999999px;
	width: 52.25px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings ._100_2 {
	position: absolute;
	left: 256.5px;
	top: 1491.5px;
	width: 52.25px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings ._100_3 {
	position: absolute;
	left: 697.3px;
	top: 614.65px;
	width: 52.25px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings ._100_4 {
	position: absolute;
	left: 1121px;
	top: 614.65px;
	width: 52.25px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings ._100_5 {
	position: absolute;
	left: 1121px;
	top: 1007.9499999999999px;
	width: 52.25px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings ._100_6 {
	position: absolute;
	left: 1113.3999999999999px;
	top: 1491.5px;
	width: 52.25px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings ._100_7 {
	position: absolute;
	left: 697.3px;
	top: 1007.9499999999999px;
	width: 52.25px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}
.onlineofferings_onlineofferings ._100_8 {
	position: absolute;
	left: 697.3px;
	top: 1491.5px;
	width: 52.25px;
	height: 34.199999999999996px;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 22.799999999999997px;
	font-weight: 500;
	line-height: 34.199999999999996px;
}